<footer>
    <section>
        <div class="container-md">
            <div class="pt-5 row">
                <div class="col-12 text-center">
                    <h4 class="fw-bold">Find us on</h4>
                </div>
            </div>
            <div class="align-items-center justify-content-center  pb-5 row">
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-indeed.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-reed.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-total.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-cv-library.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-google.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-niche.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-vetclick.png" />
                </div>
                <div class="col-4 col-md-3 col-xl-2 pt-4">
                    <img class="partner-logo img-fluid"
                        src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/logos/seven-job-medic.png" />
                </div>
            </div>
        </div>
    </section>
    <section class=" sector-background sector-get-in-touch text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="primary-header">Get in Touch</h1>
                </div>
            </div>
            <div class="justify-content-center justify-content-lg-start pt-5 row">
                <div class="col-10 col-lg-8">
                    <script data-cfasync="false"
                        src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script type="text/javascript"></script>
                    <div class="gf_browser_unknown gform_wrapper gravity-theme gform-theme--no-framework"
                        data-form-theme="gravity-theme" data-form-index="0" id="gform_wrapper_3">
                        <div id="gf_3" class="gform_anchor" tabindex="-1"></div>
                        <div class="gform_heading">
                            <p class="gform_required_legend">&quot;<span
                                    class="gfield_required gfield_required_asterisk">*</span>&quot; indicates
                                required fields</p>
                        </div>
                        <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_3" id="gform_3"
                            action="/#gf_3" data-formid="3" novalidate>
                            <div class="gform-body gform_body">
                                <div id="gform_fields_3"
                                    class="gform_fields top_label form_sublabel_below description_below">
                                    <div id="field_3_10"
                                        class="gfield gfield--type-text gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"
                                        data-js-reload="field_3_10"><label class="gfield_label gform-field-label"
                                            for="input_3_10">Full Name<span class="gfield_required"><span
                                                    class="gfield_required gfield_required_asterisk">*</span></span></label>
                                        <div class="ginput_container ginput_container_text"><input name="input_10"
                                                id="input_3_10" type="text" value class="large" aria-required="true"
                                                aria-invalid="false" autocomplete="name" /> </div>
                                    </div>
                                    <div id="field_3_6"
                                        class="gfield gfield--type-textarea gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"
                                        data-js-reload="field_3_6"><label class="gfield_label gform-field-label"
                                            for="input_3_6">Message<span class="gfield_required"><span
                                                    class="gfield_required gfield_required_asterisk">*</span></span></label>
                                        <div class="ginput_container ginput_container_textarea"><textarea
                                                name="input_6" id="input_3_6" class="textarea large"
                                                aria-required="true" aria-invalid="false" rows="10"
                                                cols="50"></textarea></div>
                                    </div>
                                    <div id="field_3_9"
                                        class="gfield gfield--type-email gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"
                                        data-js-reload="field_3_9"><label class="gfield_label gform-field-label"
                                            for="input_3_9">Email<span class="gfield_required"><span
                                                    class="gfield_required gfield_required_asterisk">*</span></span></label>
                                        <div class="ginput_container ginput_container_email">
                                            <input name="input_9" id="input_3_9" type="email" value class="large"
                                                aria-required="true" aria-invalid="false" autocomplete="email" />
                                        </div>
                                    </div>
                                    <div id="field_3_8"
                                        class="gfield gfield--type-phone gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"
                                        data-js-reload="field_3_8"><label class="gfield_label gform-field-label"
                                            for="input_3_8">Phone<span class="gfield_required"><span
                                                    class="gfield_required gfield_required_asterisk">*</span></span></label>
                                        <div class="ginput_container ginput_container_phone"><input name="input_8"
                                                id="input_3_8" type="tel" value class="large" aria-required="true"
                                                aria-invalid="false" autocomplete="tel" /></div>
                                    </div>
                                    <div id="field_3_11"
                                        class="gfield gfield--type-captcha gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label gfield_visibility_visible"
                                        data-js-reload="field_3_11"><label class="gfield_label gform-field-label"
                                            for="input_3_11">CAPTCHA</label>
                                        <div id="input_3_11" class="ginput_container ginput_recaptcha"
                                            data-sitekey="6LdmOBMiAAAAAFyCHlgSl6n2fduVQcvBRoQvaTe-"
                                            data-theme="light" data-tabindex="-1" data-size="invisible"
                                            data-badge="bottomleft"></div>
                                    </div>
                                    <div id="field_3_12"
                                        class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below gfield_visibility_visible"
                                        data-js-reload="field_3_12"><label class="gfield_label gform-field-label"
                                            for="input_3_12">Name</label>
                                        <div class="ginput_container"><input name="input_12" id="input_3_12"
                                                type="text" value autocomplete="new-password" /></div>
                                        <div class="gfield_description" id="gfield_description_3_12">This field is
                                            for validation purposes and should be left unchanged.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_3"
                                    class="gform_button button" value="Send"
                                    onclick="if(window[&quot;gf_submitting_3&quot;]){return false;}  if( !jQuery(&quot;#gform_3&quot;)[0].checkValidity || jQuery(&quot;#gform_3&quot;)[0].checkValidity()){window[&quot;gf_submitting_3&quot;]=true;}  "
                                    onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_3&quot;]){return false;} if( !jQuery(&quot;#gform_3&quot;)[0].checkValidity || jQuery(&quot;#gform_3&quot;)[0].checkValidity()){window[&quot;gf_submitting_3&quot;]=true;}  jQuery(&quot;#gform_3&quot;).trigger(&quot;submit&quot;,[true]); }" />
                                <input type="hidden" name="gform_ajax"
                                    value="form_id=3&amp;title=&amp;description=&amp;tabindex=0" />
                                <input type="hidden" class="gform_hidden" name="is_submit_3" value="1" />
                                <input type="hidden" class="gform_hidden" name="gform_submit" value="3" />
                                <input type="hidden" class="gform_hidden" name="gform_unique_id" value />
                                <input type="hidden" class="gform_hidden" name="state_3"
                                    value="WyJbXSIsIjdjODBlYjBjNTg1ZWVkMjYyODMwMjAyOWYyZTEwMTg0Il0=" />
                                <input type="hidden" class="gform_hidden" name="gform_target_page_number_3"
                                    id="gform_target_page_number_3" value="0" />
                                <input type="hidden" class="gform_hidden" name="gform_source_page_number_3"
                                    id="gform_source_page_number_3" value="1" />
                                <input type="hidden" name="gform_field_values" value />
                            </div>
                        </form>
                    </div>
                    <iframe style="display:none;width:0px;height:0px;" src="about:blank" name="gform_ajax_frame_3"
                        id="gform_ajax_frame_3"
                        title="This iframe contains the logic required to handle Ajax powered Gravity Forms."></iframe>
                    <script type="text/javascript">
                        gform.initializeOnLoaded(function () { gformInitSpinner(3, 'https://www.seven-resourcing.com/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery('#gform_ajax_frame_3').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_3'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_3').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100; if (is_form) { jQuery('#gform_wrapper_3').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_3').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_3').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_3').offset().top - mt); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_3').val(); gformInitSpinner(3, 'https://www.seven-resourcing.com/wp-content/plugins/gravityforms/images/spinner.svg', true); jQuery(document).trigger('gform_page_loaded', [3, current_page]); window['gf_submitting_3'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } setTimeout(function () { jQuery('#gform_wrapper_3').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_3').offset().top - mt); jQuery(document).trigger('gform_confirmation_loaded', [3]); window['gf_submitting_3'] = false; wp.a11y.speak(jQuery('#gform_confirmation_message_3').text()); }, 50); } else { jQuery('#gform_3').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger('gform_post_render', [3, current_page]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 3, currentPage: current_page } }); }); });
                    </script>
                </div>
            </div>
        </div>
    </section>
    <section class="section-mid-grey text-white">
        <div class="container-lg">
            <div class="justify-content-center justify-content-lg-between justify-content-sm-around row row-footer">
                <div class="col-10 col-md-3 col-sm-5 col-xxl-2 mt-4">
                    <p class="footer-title h6 mb-3">Resources</p>
                    <div class="gx-2 mb-4 row">
                        <div class="col-4"><a href="https://www.seven-resourcing.com/safeguarding-first/"><img
                                    class="uspimg" alt="Safeguarding First Logo"
                                    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/svg/Safe-Guarding.svg" /></a>
                        </div>
                        <div class="col-4"><a href="https://www.seven-resourcing.com/paytech/"><img class="uspimg"
                                    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/svg/Paytech.svg"
                                    alt="Paytech Logo" /></a>
                        </div>
                        <div class="col-4"><a href="https://www.seven-resourcing.com/smart-search/"><img
                                    class="uspimg"
                                    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/svg/Safe-Guarding.svg"
                                    alt="Smart Search Logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-sm-5 col-xxl-2 mt-4">
                    <p class="footer-title h6 mb-3">Quick Links</p>
                    <ul id="menu-footer-menu" class="menu list-unstyled menu">
                        <li id="menu-item-1549"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-1549">
                            <a href="https://www.seven-resourcing.com/about/">About Us</a>
                        </li>
                        <li id="menu-item-1559"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-1559">
                            <a href="https://www.seven-resourcing.com/news/">News</a>
                        </li>
                        <li id="menu-item-1560"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-1560">
                            <a href="https://www.seven-resourcing.com/contact/">Contact Us</a>
                        </li>
                        <li id="menu-item-13219"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-13219">
                            <a href="https://www.seven-resourcing.com/slavery-statement/">Modern Slavery &#038;
                                Human Trafficking Statement</a>
                        </li>
                        <li id="menu-item-44996"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-44996">
                            <a href="https://www.seven-resourcing.com/our-carbon-reduction-plan/">Carbon Reduction
                                Plan</a>
                        </li>
                    </ul>
                </div>
                <div class="col-10 col-md-3 col-sm-5 col-xxl-2 mb-4 mt-4">
                    <p class="footer-title h6 mb-3">Accolades</p>
                    <img src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/svg/seven-footer-logos.svg"
                        class="footer-logos img-fluid mt-3" />
                </div>
                <div class="col-10 col-md-3 col-sm-5 col-xxl-2 mt-4">
                    <p class="footer-title h6 mb-3">Get in Touch</p>
                    <p class="mb-0 num"><a href="tel:+443332005424">0333 200 5424</a></p>
                    <p class="footer-link"><a
                            href="/cdn-cgi/l/email-protection#f098959c9c9fb0839586959edd8295839f858293999e97de939f9d"><span
                                class="__cf_email__"
                                data-cfemail="dbb3beb7b7b49ba8beadbeb5f6a9bea8b4aea9b8b2b5bcf5b8b4b6">[email&#160;protected]</span></a>
                    </p>
                    <div class="d-flex social-btns"><a target="_blank"
                            href="https://www.facebook.com/sevenresourcing/"
                            class="align-items-center d-flex flex-column justify-content-center sector-background social-button"><svg
                                id="Group_1664" data-name="Group 1664" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="9.14" height="18.14"
                                viewBox="0 0 12.144 26.139" preserveAspectRatio>
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect id="Rectangle_928" data-name="Rectangle 928" width="12.144"
                                            height="26.139" fill="#fff" />
                                    </clipPath>
                                </defs>
                                <g id="Group_1663" data-name="Group 1663" transform="translate(0 0)"
                                    clip-path="url(#clip-path)">
                                    <path id="Path_2737" data-name="Path 2737"
                                        d="M2.676,13.173V25.81A.329.329,0,0,0,3,26.139H7.7a.329.329,0,0,0,.329-.329V12.966h3.4a.329.329,0,0,0,.328-.3l.328-3.87a.329.329,0,0,0-.328-.356H8.027V5.693A1.165,1.165,0,0,1,9.192,4.528h2.623a.33.33,0,0,0,.329-.329V.329A.33.33,0,0,0,11.814,0H7.384A4.708,4.708,0,0,0,2.676,4.708V8.439H.329A.329.329,0,0,0,0,8.768v3.869a.329.329,0,0,0,.329.329H2.676Z"
                                        transform="translate(0 0)" fill="#fff" fill-rule="evenodd" />
                                </g>
                            </svg></a><a target="_blank" href="https://twitter.com/sevenresourcing/"
                            class="align-items-center d-flex flex-column justify-content-center me-2 ms-2 sector-background social-button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20.76" height="27.141"
                                viewBox="0 0 32.76 27.141" preserveAspectRatio>
                                <path id="Union_1" data-name="Union 1"
                                    d="M13944.4-7721.76a17.748,17.748,0,0,1-3.6-1.441c-.383-.21-.758-.424-1.126-.666-.095-.077-.165-.147-.084-.2s.141-.042.432,0a12.719,12.719,0,0,0,5.4-.691c.943-.33,2.971-.992,3.553-1.883.014-.021.027-.021.042-.042-.235-.056-.47-.056-.709-.095a6.975,6.975,0,0,1-5.2-4.358c-.07-.175,0-.263.183-.228a7.463,7.463,0,0,0,2.476-.077,4.027,4.027,0,0,1-.838-.256,6.707,6.707,0,0,1-4.135-5.351,3.633,3.633,0,0,1-.042-.747c.015-.175.092-.231.242-.133a6.693,6.693,0,0,0,2.524.708c-.284-.221-.547-.466-.8-.708-1.925-1.824-2.672-5.533-1.133-7.84.126-.186.207-.186.361-.014,3.517,4.011,7.854,5.884,13.086,6.662.137.018.15,0,.13-.154a6.988,6.988,0,0,1,.069-2.735,6.621,6.621,0,0,1,1.291-2.588,6.9,6.9,0,0,1,2.167-1.771,6.791,6.791,0,0,1,2.682-.757,6.4,6.4,0,0,1,2.83.456,6.745,6.745,0,0,1,1.844,1.129,2.825,2.825,0,0,1,.334.343.26.26,0,0,0,.263.067,16.422,16.422,0,0,0,3.808-1.455.177.177,0,0,1,.168-.014c.06.042.035.109.011.165a5.858,5.858,0,0,1-1.069,1.946c-.3.379-1.065,1.312-1.585,1.4a13.081,13.081,0,0,0,3.209-.915c.129-.06.119-.084.119,0v.028a.764.764,0,0,1-.158.5,12.464,12.464,0,0,1-2.528,2.641c-.14.108-.386.221-.386.428,0,5.242-1.339,10.48-5.161,14.278a18.332,18.332,0,0,1-13.029,5.126A21.166,21.166,0,0,1,13944.4-7721.76Z"
                                    transform="translate(-13939.025 7747.637)" fill="#fff" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1" />
                            </svg></a><a target="_blank" href="https://www.linkedin.com/company/seven-resourcing/"
                            class="align-items-center d-flex flex-column justify-content-center sector-background social-button"><svg
                                id="Group_1664" data-name="Group 1664" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="9.14" height="26.139"
                                viewBox="0 0 12.144 26.139">
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect id="Rectangle_928" data-name="Rectangle 928" width="12.144"
                                            height="26.139" fill="#fff" />
                                    </clipPath>
                                </defs>
                                <g id="Group_1663" data-name="Group 1663" transform="translate(0 0)"
                                    clip-path="url(#clip-path)">
                                    <path id="Path_2737" data-name="Path 2737"
                                        d="M2.676,13.173V25.81A.329.329,0,0,0,3,26.139H7.7a.329.329,0,0,0,.329-.329V12.966h3.4a.329.329,0,0,0,.328-.3l.328-3.87a.329.329,0,0,0-.328-.356H8.027V5.693A1.165,1.165,0,0,1,9.192,4.528h2.623a.33.33,0,0,0,.329-.329V.329A.33.33,0,0,0,11.814,0H7.384A4.708,4.708,0,0,0,2.676,4.708V8.439H.329A.329.329,0,0,0,0,8.768v3.869a.329.329,0,0,0,.329.329H2.676Z"
                                        transform="translate(0 0)" fill="#fff" fill-rule="evenodd" />
                                </g>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-4 pt-4 section-dark-grey text-white">
        <div class="container-lg">
            <div class="align-items-center disclaimer-row justify-content-center justify-content-lg-between row">
                <div class="col-10 col-md-auto footer-small-print">
                    <p class="mb-0"><a href="https://www.seven-resourcing.com/terms-and-conditions/">Terms &amp;
                            Conditions</a>
                        | <a href="/sitemap_index.xml" target="_blank">Sitemap</a></p>
                    <p class="mb-0">Copyright © 2022 Seven Resourcing Ltd</p>
                </div>
                <div class="col-10 col-md-auto mt-3 mt-lg-0">
                    <a href="https://www.seven-resourcing.com">
                        <img src="" alt="Seven Logo" class="footer-logo" style="opacity: 0.3;" /></a>
                </div>
            </div>
        </div>
    </section>
</footer>




<link rel="stylesheet" id="gravity_forms_theme_reset-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-reset.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gravity_forms_theme_foundation-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-foundation.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gravity_forms_theme_framework-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-framework.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gravity_forms_orbital_theme-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-orbital-theme.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gform_basic-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/basic.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gform_theme_components-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/theme-components.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gform_theme_ie11-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/theme-ie11.min.css?ver=2.7.12"
    type="text/css" media="all" />
<link rel="stylesheet" id="gform_theme-css"
    href="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/css/dist/theme.min.css?ver=2.7.12"
    type="text/css" media="all" />
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" id="inline-script-6-js-after">
    function initMap() {

        // Check if there's a map

        var myEle = document.getElementById("map");

        if (myEle) {

            // Get Lat and Long from Map element

            var mapLat = document.getElementById('map').dataset.lat;
            var maplong = document.getElementById('map').dataset.long;

            // Define Map

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: +mapLat, lng: +maplong },
                zoom: 16,
                scrollwheel: false
            });

            setMarkers(map);

            function setMarkers(map) {

                var marker = new google.maps.Marker({
                    position: { lat: +mapLat, lng: +maplong },
                    map: map
                });

            }

        }

    }
</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPNUMZ4rqX_7GqKBY0KAShT53ftLYpf_s&#038;callback=initMap"
    id="seven-script-1-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/js/popper.min.js"
    id="seven-popper-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/bootstrap/js/bootstrap.min.js"
    id="seven-bootstrap-js"></script>
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"
    id="seven-tpwidgetbootstrap-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/js/jquery-ui.min.js"
    id="seven-jqueryui-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/js/maps.js"
    id="seven-maps-js"></script>
<script type="text/javascript" id="inline-script-7-js-after">
    function getHired() {
        console.log('going to get hired');
        var whatGetHiredLink = document.getElementById("getHiredLink").href;
        console.log(whatGetHiredLink);
        window.location.href = whatGetHiredLink;
    }

    function startHiring() {
        console.log('going to get hired');
        var whatGetHiringLink = document.getElementById("getHiringLink").href;
        console.log(whatGetHiringLink);
        window.location.href = whatGetHiringLink;
    }
</script>
<script type="text/javascript" src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/pgia/lib/pgia.js"
    id="seven-pgia-js"></script>
<script type="text/javascript" id="inline-script-8-js-after">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script type="text/javascript" id="inline-script-9-js-after">
    window.__lc = window.__lc || {}; window.__lc.license = 13042905;; (function (n, t, c) { function i(n) { return e._h ? e._h.apply(null, n) : e._q.push(n) }; var e = { _q: [], _h: null, _v: "2.0", on: function () { i(["on", c.call(arguments)]) }, once: function () { i(["once", c.call(arguments)]) }, off: function () { i(["off", c.call(arguments)]) }, get: function () { if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load."); return i(["get", c.call(arguments)]) }, call: function () { i(["call", c.call(arguments)]) }, init: function () { var n = t.createElement("script"); n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n) } }; !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e }(window, document, [].slice))
</script>
<script type="text/javascript" src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/js/sr.js"
    id="seven-sr-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9"
    id="regenerator-runtime-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0"
    id="wp-polyfill-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-includes/js/dist/dom-ready.min.js?ver=d996b53411d1533a84951212ab6ac4ff"
    id="wp-dom-ready-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-includes/js/dist/hooks.min.js?ver=c6d64f2cb8f5c6bb49caca37f8828ce3"
    id="wp-hooks-js"></script>
<script type="text/javascript"
    src="https://www.seven-resourcing.com/wp-includes/js/dist/i18n.min.js?ver=ebee46757c6a411e38fd079a7ac71d94"
    id="wp-i18n-js"></script>
<script type="text/javascript" id="wp-i18n-js-after">
    wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
</script>
<script type="text/javascript" id="wp-a11y-js-translations">
    (function (domain, translations) {
        var localeData = translations.locale_data[domain] || translations.locale_data.messages;
        localeData[""].domain = domain;
        wp.i18n.setLocaleData(localeData, domain);
    })("default", { "translation-revision-date": "2022-10-20 10:54:36+0000", "generator": "GlotPress\/4.0.0-alpha.4", "domain": "messages", "locale_data": { "messages": { "": { "domain": "messages", "plural-forms": "nplurals=2; plural=n != 1;", "lang": "en_GB" }, "Notifications": ["Notifications"] } }, "comment": { "reference": "wp-includes\/js\/dist\/a11y.js" } });
</script>
<!-- <script type="text/javascript" src="https://www.seven-resourcing.com/wp-includes/js/dist/a11y.min.js?ver=a38319d7ba46c6e60f7f9d4c371222c5" id="wp-a11y-js"></script> -->
<!-- <script type="text/javascript" defer="defer" src="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.7.12" id="gform_json-js"></script> -->
<script type="text/javascript" id="gform_gravityforms-js-extra">
    /* <![CDATA[ */
    var gform_i18n = { "datepicker": { "days": { "monday": "Mo", "tuesday": "Tu", "wednesday": "We", "thursday": "Th", "friday": "Fr", "saturday": "Sa", "sunday": "Su" }, "months": { "january": "January", "february": "February", "march": "March", "april": "April", "may": "May", "june": "June", "july": "July", "august": "August", "september": "September", "october": "October", "november": "November", "december": "December" }, "firstDay": 1, "iconText": "Select date" } };
    var gf_legacy_multi = [];
    var gform_gravityforms = { "strings": { "invalid_file_extension": "This type of file is not allowed. Must be one of the following:", "delete_file": "Delete this file", "in_progress": "in progress", "file_exceeds_limit": "File exceeds size limit", "illegal_extension": "This type of file is not allowed.", "max_reached": "Maximum number of files reached", "unknown_error": "There was a problem while saving the file on the server", "currently_uploading": "Please wait for the uploading to complete", "cancel": "Cancel", "cancel_upload": "Cancel this upload", "cancelled": "Cancelled" }, "vars": { "images_url": "https:\/\/www.seven-resourcing.com\/wp-content\/plugins\/gravityforms\/images" } };
    var gf_global = { "gf_currency_config": { "name": "Pound Sterling", "symbol_left": "&#163;", "symbol_right": "", "symbol_padding": " ", "thousand_separator": ",", "decimal_separator": ".", "decimals": 2, "code": "GBP" }, "base_url": "https:\/\/www.seven-resourcing.com\/wp-content\/plugins\/gravityforms", "number_formats": [], "spinnerUrl": "https:\/\/www.seven-resourcing.com\/wp-content\/plugins\/gravityforms\/images\/spinner.svg", "version_hash": "e6d203ee82a8541ee96d906d32dffdf8", "strings": { "newRowAdded": "New row added.", "rowRemoved": "Row removed", "formSaved": "The form has been saved.  The content contains the link to return and complete the form." } };
/* ]]> */
</script>
<!-- <script type="text/javascript" defer="defer" src="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.7.12" id="gform_gravityforms-js"></script>
<script type="text/javascript" defer="defer" src="https://www.google.com/recaptcha/api.js?hl=en&#038;ver=9a7afea7af8ddb34a2a94171758caced#038;render=explicit" id="gform_recaptcha-js"></script>
<script type="text/javascript" defer="defer" src="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/js/dist/utils.min.js?ver=9cecf9943583937c8b36678fadcce50d" id="gform_gravityforms_utils-js"></script>
<script type="text/javascript" defer="defer" src="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/js/dist/vendor-theme.min.js?ver=4ef53fe41c14a48b294541d9fc37387e" id="gform_gravityforms_theme_vendors-js"></script> -->
<script type="text/javascript" id="gform_gravityforms_theme-js-extra">
    /* <![CDATA[ */
    var gform_theme_config = { "common": { "form": { "honeypot": { "version_hash": "e6d203ee82a8541ee96d906d32dffdf8" } } }, "hmr_dev": "", "public_path": "https:\/\/www.seven-resourcing.com\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/" };
/* ]]> */
</script>
<script type="text/javascript" defer="defer"
    src="https://www.seven-resourcing.com/wp-content/plugins/gravityforms/assets/js/dist/scripts-theme.min.js?ver=f4d12a887a23a8c5755fd2b956bc8fcf"
    id="gform_gravityforms_theme-js"></script>
<script type="text/javascript">
    gform.initializeOnLoaded(function () { jQuery(document).on('gform_post_render', function (event, formId, currentPage) { if (formId == 3) { } }); jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) { }) });
</script>
<script type="text/javascript">
    gform.initializeOnLoaded(function () { jQuery(document).trigger('gform_post_render', [3, 1]); gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 3, currentPage: 1 } }); });
</script>
</body>

</html>