<!DOCTYPE html>
<html lang="en-GB" prefix="og: https://ogp.me/ns#">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script type="text/javascript">
		var gform; gform || (document.addEventListener("gform_main_scripts_loaded", function () { gform.scriptsLoaded = !0 }), window.addEventListener("DOMContentLoaded", function () { gform.domLoaded = !0 }), gform = { domLoaded: !1, scriptsLoaded: !1, initializeOnLoaded: function (o) { gform.domLoaded && gform.scriptsLoaded ? o() : !gform.domLoaded && gform.scriptsLoaded ? window.addEventListener("DOMContentLoaded", o) : document.addEventListener("gform_main_scripts_loaded", o) }, hooks: { action: {}, filter: {} }, addAction: function (o, n, r, t) { gform.addHook("action", o, n, r, t) }, addFilter: function (o, n, r, t) { gform.addHook("filter", o, n, r, t) }, doAction: function (o) { gform.doHook("action", o, arguments) }, applyFilters: function (o) { return gform.doHook("filter", o, arguments) }, removeAction: function (o, n) { gform.removeHook("action", o, n) }, removeFilter: function (o, n, r) { gform.removeHook("filter", o, n, r) }, addHook: function (o, n, r, t, i) { null == gform.hooks[o][n] && (gform.hooks[o][n] = []); var e = gform.hooks[o][n]; null == i && (i = n + "_" + e.length), gform.hooks[o][n].push({ tag: i, callable: r, priority: t = null == t ? 10 : t }) }, doHook: function (n, o, r) { var t; if (r = Array.prototype.slice.call(r, 1), null != gform.hooks[n][o] && ((o = gform.hooks[n][o]).sort(function (o, n) { return o.priority - n.priority }), o.forEach(function (o) { "function" != typeof (t = o.callable) && (t = window[t]), "action" == n ? t.apply(null, r) : r[0] = t.apply(null, r) })), "filter" == n) return r[0] }, removeHook: function (o, n, t, i) { var r; null != gform.hooks[o][n] && (r = (r = gform.hooks[o][n]).filter(function (o, n, r) { return !!(null != i && i != o.tag || null != t && t != o.priority) }), gform.hooks[o][n] = r) } });
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="msvalidate.01" content="13786B8B65ECA29CF60D2BF046D321D3" />
	<meta name="google-site-verification" content="waHiQAwgxKm9lWwBsuw6JrysVcgasuQ5jthiEoI8w0Y" />
	<!-- <link rel="icon" type="image/x-icon" href="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/favicons/home-fav.ico" /> -->




	<link rel="pingback" href="https://www.seven-resourcing.com/xmlrpc.php" />

	<title></title>
	<meta name="description"
		content="A recruitment agency with a difference. Clients and candidates can find their perfect match through our personalised service. Our team will assist you in finding the right placement or candidate for your needs" />
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
	<link rel="canonical" href="https://www.seven-resourcing.com/" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Seven Resourcing | Specialist Recruitment Agency" />
	<meta property="og:description"
		content="A recruitment agency with a difference. Clients and candidates can find their perfect match through our personalised service. Our team will assist you in finding the right placement or candidate for your needs" />
	<meta property="og:url" content="https://www.seven-resourcing.com/" />
	<meta property="og:site_name" content="Seven Resourcing" />
	<meta property="og:updated_time" content="2022-09-09T14:33:23+01:00" />
	<meta property="article:published_time" content="2015-10-01T14:29:14+01:00" />
	<meta property="article:modified_time" content="2022-09-09T14:33:23+01:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Seven Resourcing | Specialist Recruitment Agency" />
	<meta name="twitter:description"
		content="A recruitment agency with a difference. Clients and candidates can find their perfect match through our personalised service. Our team will assist you in finding the right placement or candidate for your needs" />
	<meta name="twitter:site" content="@sevenresourcing" />
	<meta name="twitter:creator" content="@sevenresourcing" />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content="George Owen" />
	<meta name="twitter:label2" content="Time to read" />
	<meta name="twitter:data2" content="Less than a minute" />
	<script type="application/ld+json"
		class="rank-math-schema-pro">{"@context":"https://schema.org","@graph":[{"@type":["EmploymentAgency","Organization"],"@id":"https://www.seven-resourcing.com/#organization","name":"Seven Resourcing","url":"https://www.seven-resourcing.com","sameAs":["https://www.facebook.com/sevenresourcing/","https://twitter.com/sevenresourcing"],"openingHours":["Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday 09:00-17:00"]},{"@type":"WebSite","@id":"https://www.seven-resourcing.com/#website","url":"https://www.seven-resourcing.com","name":"Seven Resourcing","publisher":{"@id":"https://www.seven-resourcing.com/#organization"},"inLanguage":"en-GB","potentialAction":{"@type":"SearchAction","target":"https://www.seven-resourcing.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"ImageObject","@id":"https://www.seven-resourcing.com/wp-content/uploads/2015/10/logo-1.png","url":"https://www.seven-resourcing.com/wp-content/uploads/2015/10/logo-1.png","width":"300","height":"63","inLanguage":"en-GB"},{"@type":"WebPage","@id":"https://www.seven-resourcing.com/#webpage","url":"https://www.seven-resourcing.com/","name":"Seven Resourcing | Specialist Recruitment Agency","datePublished":"2015-10-01T14:29:14+01:00","dateModified":"2022-09-09T14:33:23+01:00","about":{"@id":"https://www.seven-resourcing.com/#organization"},"isPartOf":{"@id":"https://www.seven-resourcing.com/#website"},"primaryImageOfPage":{"@id":"https://www.seven-resourcing.com/wp-content/uploads/2015/10/logo-1.png"},"inLanguage":"en-GB"},{"@type":"Article","headline":"Seven Resourcing | Specialist Recruitment Agency","datePublished":"2015-10-01T14:29:14+01:00","dateModified":"2022-09-09T14:33:23+01:00","author":{"@type":"Person","name":"George Owen"},"description":"A specialist recruitment agency that does things differently. We offer a personalised service to help clients and candidates find their perfect match.","name":"Seven Resourcing | Specialist Recruitment Agency","@id":"https://www.seven-resourcing.com/#schema-182891236","isPartOf":{"@id":"https://www.seven-resourcing.com/#webpage"},"publisher":{"@id":"https://www.seven-resourcing.com/#organization"},"image":{"@id":"https://www.seven-resourcing.com/wp-content/uploads/2015/10/logo-1.png"},"inLanguage":"en-GB","mainEntityOfPage":{"@id":"https://www.seven-resourcing.com/#webpage"}}]}</script>
	<meta name="google-site-verification" content="ZXbu6Qfp69BydohoO6zwCMSrGwDNJOSAnvIPQQ0DOew" />

	<link rel="dns-prefetch" href="//www.googletagmanager.com" />
	<link rel="dns-prefetch" href="//maps.googleapis.com" />
	<link rel="dns-prefetch" href="//widget.trustpilot.com" />
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//s.w.org" />
	<link rel="alternate" type="application/rss+xml" title="Seven Resourcing &raquo; Feed"
		href="https://www.seven-resourcing.com/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Seven Resourcing &raquo; Comments Feed"
		href="https://www.seven-resourcing.com/comments/feed/" />
	<script type="text/javascript">
		window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/www.seven-resourcing.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=9a7afea7af8ddb34a2a94171758caced" } };
		/*! This file is auto-generated */
		!function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode, e = (p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0), i.toDataURL()); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([129777, 127995, 8205, 129778, 127999], [129777, 127995, 8203, 129778, 127999]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (e = t.source || {}).concatemoji ? c(e.concatemoji) : e.wpemoji && e.twemoji && (c(e.twemoji), c(e.wpemoji))) }(window, document, window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 0.07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel="stylesheet" id="wp-block-library-css" href="./styles.css" type="text/css" media="all" />
	<style id="global-styles-inline-css" type="text/css">
		body {
			--wp--preset--color--black: #000000;
			--wp--preset--color--cyan-bluish-gray: #abb8c3;
			--wp--preset--color--white: #ffffff;
			--wp--preset--color--pale-pink: #f78da7;
			--wp--preset--color--vivid-red: #cf2e2e;
			--wp--preset--color--luminous-vivid-orange: #ff6900;
			--wp--preset--color--luminous-vivid-amber: #fcb900;
			--wp--preset--color--light-green-cyan: #7bdcb5;
			--wp--preset--color--vivid-green-cyan: #00d084;
			--wp--preset--color--pale-cyan-blue: #8ed1fc;
			--wp--preset--color--vivid-cyan-blue: #0693e3;
			--wp--preset--color--vivid-purple: #9b51e0;
			--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
			--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
			--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
			--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
			--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
			--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
			--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
			--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
			--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
			--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
			--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
			--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
			--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
			--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
			--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
			--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
			--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
			--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
			--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
			--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
			--wp--preset--font-size--small: 13px;
			--wp--preset--font-size--medium: 20px;
			--wp--preset--font-size--large: 36px;
			--wp--preset--font-size--x-large: 42px;
		}

		.has-black-color {
			color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-color {
			color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-color {
			color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-color {
			color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-color {
			color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-color {
			color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-color {
			color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-color {
			color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-color {
			color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-color {
			color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-color {
			color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-color {
			color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-background-color {
			background-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-background-color {
			background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-background-color {
			background-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-background-color {
			background-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-background-color {
			background-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-background-color {
			background-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-background-color {
			background-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-background-color {
			background-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-background-color {
			background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-background-color {
			background-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-border-color {
			border-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-border-color {
			border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-border-color {
			border-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-border-color {
			border-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-border-color {
			border-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-border-color {
			border-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-border-color {
			border-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-border-color {
			border-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-border-color {
			border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-border-color {
			border-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
			background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
		}

		.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
			background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
		}

		.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-orange-to-vivid-red-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
		}

		.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
			background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
		}

		.has-cool-to-warm-spectrum-gradient-background {
			background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
		}

		.has-blush-light-purple-gradient-background {
			background: var(--wp--preset--gradient--blush-light-purple) !important;
		}

		.has-blush-bordeaux-gradient-background {
			background: var(--wp--preset--gradient--blush-bordeaux) !important;
		}

		.has-luminous-dusk-gradient-background {
			background: var(--wp--preset--gradient--luminous-dusk) !important;
		}

		.has-pale-ocean-gradient-background {
			background: var(--wp--preset--gradient--pale-ocean) !important;
		}

		.has-electric-grass-gradient-background {
			background: var(--wp--preset--gradient--electric-grass) !important;
		}

		.has-midnight-gradient-background {
			background: var(--wp--preset--gradient--midnight) !important;
		}

		.has-small-font-size {
			font-size: var(--wp--preset--font-size--small) !important;
		}

		.has-medium-font-size {
			font-size: var(--wp--preset--font-size--medium) !important;
		}

		.has-large-font-size {
			font-size: var(--wp--preset--font-size--large) !important;
		}

		.has-x-large-font-size {
			font-size: var(--wp--preset--font-size--x-large) !important;
		}
	</style>
	<link rel="stylesheet" id="seven-bootstrap-css" href="/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" id="seven-style-css" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" id="seven-style-1-css"
		href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,300italic,400italic,500italic,600italic,700italic,800italic&#038;display=swap"
		type="text/css" media="all" />
	<link rel="stylesheet" id="seven-spaceheader-css" href="/css/space-header.css" type="text/css" media="all" />
	<link rel="stylesheet" id="seven-jqueryui-css" href="/javascript/jquery-ui.css" type="text/css" media="all" />
	<script type="text/javascript" id="inline-script-1-js-after">
/* Pinegrow Interactions, do not remove */ (function () { try { if (!document.documentElement.hasAttribute('data-pg-ia-disabled')) { window.pgia_small_mq = typeof pgia_small_mq == 'string' ? pgia_small_mq : '(max-width:767px)'; window.pgia_large_mq = typeof pgia_large_mq == 'string' ? pgia_large_mq : '(min-width:768px)'; var style = document.createElement('style'); var pgcss = 'html:not(.pg-ia-no-preview) [data-pg-ia-hide=""] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show=""] {opacity:1;visibility:visible;display:block;}'; if (document.documentElement.hasAttribute('data-pg-id') && document.documentElement.hasAttribute('data-pg-mobile')) { pgia_small_mq = '(min-width:0)'; pgia_large_mq = '(min-width:99999px)' } pgcss += '@media ' + pgia_small_mq + '{ html:not(.pg-ia-no-preview) [data-pg-ia-hide="mobile"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="mobile"] {opacity:1;visibility:visible;display:block;}}'; pgcss += '@media ' + pgia_large_mq + '{html:not(.pg-ia-no-preview) [data-pg-ia-hide="desktop"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="desktop"] {opacity:1;visibility:visible;display:block;}}'; style.innerHTML = pgcss; document.querySelector('head').appendChild(style); } } catch (e) { console && console.log(e); } })()
	</script>
	<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-70512800-1"
		id="seven-script-js"></script>
	<script type="text/javascript" id="inline-script-2-js-after">
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-70512800-1');
	</script>
	<script type="text/javascript" id="inline-script-3-js-after">
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5QXJT29');
	</script>
	<script type="text/javascript" id="inline-script-4-js-after">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
			t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i + "?ref=bwt";
			y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "9aaeza8z3b");
	</script>
	<script type="text/javascript" id="inline-script-5-js-after">
		window.hfAccountId = "ec04a95b-129e-418c-a02a-d1da73461bcd";
		window.hfDomain = "https://api.herefish.com";
		(function () {
			var hf = document.createElement('script'); hf.type = 'text/javascript';
			hf.async = true;
			hf.src = window.hfDomain + '/scripts/hf.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(hf, s);
		})();
	</script>
	<script type="text/javascript" src="https://www.seven-resourcing.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.0"
		id="jquery-core-js"></script>
	<script type="text/javascript"
		src="https://www.seven-resourcing.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2"
		id="jquery-migrate-js"></script>

	<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-2NX1CGJ4KH" id="google_gtagjs-js"
		async></script>
	<script type="text/javascript" id="google_gtagjs-js-after">
		window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); }
		gtag('set', 'linker', { "domains": ["www.seven-resourcing.com"] });
		gtag("js", new Date());
		gtag("set", "developer_id.dZTNiMT", true);
		gtag("config", "G-2NX1CGJ4KH");
	</script>

	<link rel="https://api.w.org/" href="https://www.seven-resourcing.com/wp-json/" />
	<link rel="alternate" type="application/json" href="https://www.seven-resourcing.com/wp-json/wp/v2/pages/4" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.seven-resourcing.com/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml"
		href="https://www.seven-resourcing.com/wp-includes/wlwmanifest.xml" />
	<link rel="shortlink" href="https://www.seven-resourcing.com/" />
	<link rel="alternate" type="application/json+oembed"
		href="https://www.seven-resourcing.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.seven-resourcing.com%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="https://www.seven-resourcing.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.seven-resourcing.com%2F&#038;format=xml" />
	<meta name="generator" content="Site Kit by Google 1.105.0" />
	<style type="text/css" id="wp-custom-css">
		.gform_wrapper .gfield_validation_message,
		.gform_wrapper .validation_message {
			background: none;
			border: 0;
			font-size: 14.992px;
			margin-top: 8px;
			padding: 0;
			color: #fff;
		}

		.gform_wrapper .gfield_error .gfield_repeater_cell label,
		.gform_wrapper .gfield_error label,
		.gform_wrapper .gfield_error legend,
		.gform_wrapper .gfield_validation_message,
		.gform_wrapper .validation_message,
		.gform_wrapper [aria-invalid=true]+label,
		.gform_wrapper label+[aria-invalid=true] {
			color: inherit;
		}

		/* Select box padding */

		.ginput_container_select select.gfield_select {
			padding-top: 10px !important;
			padding-bottom: 10px !important;
			padding-left: 20px !important;
			padding-right: 20px !important;
		}


		/* Hide labels on small help form */

		.page-template-page-sector-landing #gform_fields_5 .gfield_label {
			display: none !important;
		}

		.short-textarea .ginput_container_textarea textarea {
			padding: 16px !important;
			height: 130px !important;
		}

		.ginput_container_textarea textarea {
			resize: none;
		}

		.ginput_container_textarea textarea {
			padding: 16px !important;
			height: 200px !important;
		}


		/* Smaller button on Let Us Help Button */

		#gform_submit_button_5 {
			font-size: 13px;
		}

		/* Footer Contact Customs */

		#gform_fields_3 input,
		#gform_fields_3 textarea {
			border-radius: 0;
			background: transparent;
			border: 0;

		}

		#gform_fields_3 input {
			border-bottom: 2px solid #fff;
		}



		#gform_fields_3 .gfield_label {
			color: #fff;
		}

		/* Text area */
		#input_3_6 {
			height: auto;
			resize: none;
		}

		#gform_submit_button_3 {
			margin-top: 2rem !important;
			;
			background: #fff;
			color: #2d2d2d !important;
		}

		#gform_submit_button_3:hover {
			color: #000 !important;
		}

		/* Submit Button */
		div.gform_wrapper .gform_footer .gform_button,
		div.gform_wrapper .gform_page_footer .button {
			font-weight: bold;
		}

		/* File upload text */
		.gform_wrapper.gravity-theme .gform_fileupload_rules {
			color: #fff;
			font-size: 12px !important;
		}

		/*
Custom Upload Button
Need to make this dynamic
and add the main css
*/

		/* Hide acutal input */
		#input_1_8 {
			display: none;
		}

		/* Turn label into button */
		#field_1_8 label[for=input_1_8] {
			width: auto !important;
			color: #ffffff !important;
			background-color: #2d2d2d;
			padding: 10px 30px !important;
			border: 2px solid #fff;
			border-radius: 100px;
			text-align: center;
			transition: all 0.2s;
			font-size: 15px !important;
			display: inline-block;
		}

		#field_1_8 label[for=input_1_8]:hover {
			background: #fff;
			cursor: pointer;

			color: #2d2d2d !important;
		}


		/* Hide required start */
		#field_1_8 label[for=input_1_8] span {
			display: none;
		}

		/* Button Rollovers */

		.gform_button.button {
			transition: all 0.2s;
		}

		.gform_button.button:hover,
		.gchoice label:hover {
			background: #fff !important;
			color: #2d2d2d !important;
		}


		.job-board-apply .gchoice label {
			background: #fff !important;
			color: #2d2d2d !important;
		}

		.job-board-apply .gform_required_legend {
			display: none;
		}


		.job-board-apply .gform_fileupload_rules {
			color: #2d2d2d !important;
		}

		.input[type="radio"]:checked+label {
			color: #2d2d2d !important;
			background: #fff;
		}

		/* Hide Footer Required */

		#gform_wrapper_3 .gform_heading {
			display: none;
		}

		.ginput_container_textarea textarea {
			/* 	margin-top: 28px !important */
		}

		/* Simple form alerts */

		.gfield_description.validation_message.gfield_validation_message {
			padding: 0 !important;
			background: none;
			border: 0;
			font-size: 12px !important;
		}

		.single-job-application-form .gfield_description.validation_message.gfield_validation_message {
			color: #fff;
		}

		/* Gravity Button Animation */



		/* Gravity Text Area */

		.gform_wrapper.gravity-theme textarea {
			border-radius: 25px
		}

		/* Custom Radio Hackz */

		input.gfield-choice-input {
			display: none !important;
		}


		.gfield_radio {
			width: 100% !important;
			display: flex;
		}

		.gchoice {
			margin-right: 10px;
		}

		.gchoice:last-of-type {
			margin-right: 0;
		}

		.gchoice label {
			flex: 1 !importantl;
			border: 2px solid #fff !important;
			color: #fff !important;
			background: #2d2d2d;
			padding: 10px 30px;
			font-weight: bold;
			font-size: 14px !important;
			;
			max-width: 100% !important;
			border-radius: 100px !important;
			transition: all 0.2s;
			cursor: pointer;
		}

		.gchoice input[type="radio"]:checked+label {
			color: #2d2d2d !important;
			background: #fff;
		}

		/* Form Error */

		.gform_wrapper .gform_validation_errors {
			border-radius: 15px;
			margin-bottom: 45px;
		}

		/* Adjust grid for footer contact */

		.gform-field-row--span-three {
			grid-row: span 3;
		}

		/* Select */



		/* Dark Form */

		.dark-field input,
		.dark-field select,
		.dark-field textarea {
			border-color: #2d2d2d !important;
			background-color: #ffffff !important;
			color: #2d2d2d !important;
		}


		/* Form erros  */

		.gform_wrapper .gform_validation_errors {
			background: #c02b0a;
			border: 1.5px solid #c02b0a;
			border-radius: 15px;
			box-shadow: none;
			margin-bottom: 2rem;
			padding: 16px 16px 16px 48px;
		}

		/* Single Form Success */

		.single-job-application-form div.gform_confirmation_wrapper .gform_confirmation_message {
			color: #ffffff;
		}

		/* Hide all required fields messages */

		p.gform_required_legend {
			display: none;
		}

		#gform_confirmation_message_3 {
			text-align: center !important;
			font-weight: bold !important;
			color: #fff !important;
		}

		/* Make astericks white on signle job pages and footer */

		.single.single-jobs .gfield_required.gfield_required_asterisk,
		.sector-get-in-touch .gfield_required.gfield_required_asterisk {
			color: #fff !important;
		}

		/* Footer textarea fix */

		#field_3_6 {
			border-bottom: 2px solid #fff;
		}

		.wp-pagenavi .current {
			background-color: var(--rs-red);
			;
		}

		.grecaptcha-badge {
			z-index: -9999 !important;
			display: none !important;
		}
	</style>
	<style type="text/css">
		div.gform_wrapper {
			position: relative;
			background-color: transparent;
			border-style: solid;
			border-width: 0;
		}


		div.gform_wrapper form {
			position: relative;
		}

		div.gform_wrapper .gform_title {}

		div.gform_wrapper span.gform_description {
			font-size: 14px;
		}

		div.gform_wrapper .top_label .gfield_label {
			display: block;
			color: #2d2d2d;
		}

		div.gform_wrapper .gfield .ginput_complex.ginput_container label {
			display: block;
			margin-bottom: 0;
		}

		div.gform_wrapper .ginput_container label,
		div.gform_wrapper table.gfield_list thead th,
		div.gform_wrapper span.ginput_product_price_label,
		div.gform_wrapper span.ginput_quantity_label,
		div.gform_wrapper .gfield_html {
			color: #2d2d2d;
		}

		div.gform_wrapper span.ginput_product_price,
		div.gform_wrapper .gfield_price .ginput_container_total span {}

		div.gform_wrapper .gsection {
			border-bottom-width: px;
			margin-right: 0;
			margin-bottom: px;
		}

		div.gform_wrapper h2.gsection_title {}

		div.gform_wrapper ul.gfield_radio li input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
			width: auto !important;
			display: inline-block;
		}

		div.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
		div.gform_wrapper select,
		div.gform_wrapper textarea {
			background-color: #ffffff;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 14px;
			border-top-width: 2px;
			border-bottom-width: 2px;
			border-left-width: 2px;
			border-right-width: 2px;
			border-color: #ffffff;
			border-style: solid;
			border-radius: 100px;
		}

		div.gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]) {
			width: 100%;
		}

		div.gform_wrapper .gfield input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
		div.gform_wrapper .gfield select {}

		div.gform_wrapper .gfield textarea {}



		div.gform_wrapper .gfield input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']):focus,
		div.gform_wrapper .gfield select:focus,
		div.gform_wrapper .gfield textarea:focus {
			border-color: #cccccc;
		}

		div.gform_wrapper .top_label input.medium,
		div.gform_wrapper .top_label select.medium {
			width: 49%;
		}

		div.gform_wrapper .gfield .gfield_description {}

		div.gform_wrapper ul.gform_fields li.gfield:not(.gf_left_third):not(.gf_middle_third)::not(.gf_right_third) {
			margin-bottom: 0;
			padding-right: 0;
			margin-top: 50px;
		}

		div.gform_wrapper .gform_footer,
		div.gform_wrapper .gform_page_footer {
			text-align: left;
		}

		div.gform_wrapper .gform_footer .gform_button,
		div.gform_wrapper .gform_page_footer .button {
			width: auto;
			color: #ffffff;
			background-color: #2d2d2d;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 30px;
			padding-right: 30px;
			border-width: 2px;
			border-color: #ffffff;
			border-style: solid;
			border-radius: 100px;
		}

		div.gform_wrapper.gf_browser_ie .gform_footer .gform_button,
		div.gform_wrapper.gf_browser_ie .gform_page_footer .button {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 30px;
			padding-right: 30px;
		}

		div.gform_wrapper .gform_footer input[type=submit]:last-child,
		div.gform_wrapper .gform_page_footer input[type=button]:last-child,
		div.gform_wrapper .gform_page_footer input[type=submit]:last-child {
			margin-bottom: 0 !important;
		}

		div.gform_wrapper .gform_footer .gform_button:hover,
		div.gform_wrapper .gform_page_footer .button:hover {}



		/* File Upload */
		div.gform_wrapper .gfield input[type=file] {
			background-color: transparent;
			border-width: 0px;
			padding-top: px;
			padding-bottom: px;
			padding-left: px;
			padding-right: px;
		}

		div.gform_wrapper div.validation_error {
			display: block;
		}

		div.gform_wrapper li.gfield.gfield_error {
			background-color: transparent;
		}

		div.gform_wrapper .gfield_error .gfield_label {}

		div.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
		div.gform_wrapper li.gfield_error textarea {
			border-width: 2px;
		}

		div.gform_wrapper .validation_message {}

		/* Success Message */
		div.gform_confirmation_wrapper {
			background-color: transparent;
			border-width: px;
			border-radius: px;
		}

		div.gform_confirmation_wrapper .gform_confirmation_message {}
	</style>
</head>

<body class="home page-template-default page page-id-4">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-dark-grayscale">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 0.49803921568627" />
					<feFuncG type="table" tableValues="0 0.49803921568627" />
					<feFuncB type="table" tableValues="0 0.49803921568627" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-grayscale">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 1" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0 1" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-yellow">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-red">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 1" />
					<feFuncG type="table" tableValues="0 0.27843137254902" />
					<feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-midnight">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 0" />
					<feFuncG type="table" tableValues="0 0.64705882352941" />
					<feFuncB type="table" tableValues="0 1" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-magenta-yellow">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.78039215686275 1" />
					<feFuncG type="table" tableValues="0 0.94901960784314" />
					<feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-green">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0.44705882352941 0.4" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-orange">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.098039215686275 1" />
					<feFuncG type="table" tableValues="0 0.66274509803922" />
					<feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg>
	<div class="meteor"
		data-pg-ia="{&quot;l&quot;:[{&quot;name&quot;:&quot;get-hired-shower&quot;,&quot;trg&quot;:&quot;click on a.get-hired-button&quot;,&quot;a&quot;:{&quot;l&quot;:[{&quot;t&quot;:&quot;svg&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;scale&quot;:&quot;random(1,4)&quot;,&quot;yPercent&quot;:&quot;random(-200,-300)&quot;,&quot;xPercent&quot;:&quot;random(0,-200)&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:1.18,&quot;s&quot;:0.06,&quot;l&quot;:{&quot;x&quot;:&quot;-1200%&quot;,&quot;y&quot;:&quot;1200%&quot;,&quot;opacity&quot;:0},&quot;e&quot;:&quot;Power4.easeIn&quot;}]},{&quot;t&quot;:&quot;this&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;width&quot;:&quot;100%&quot;,&quot;height&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0.95,&quot;d&quot;:1,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;${this.data-sector}&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:1.95,&quot;d&quot;:0.66,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#eaeaea&quot;}},{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:2.64,&quot;d&quot;:0,&quot;l&quot;:{&quot;pgCall&quot;:{&quot;complete&quot;:&quot;getHired&quot;}}}]}]}},{&quot;name&quot;:&quot;start-hiring-shower&quot;,&quot;a&quot;:{&quot;l&quot;:[{&quot;t&quot;:&quot;svg&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;scale&quot;:&quot;random(1,4)&quot;,&quot;yPercent&quot;:&quot;random(-200,-300)&quot;,&quot;xPercent&quot;:&quot;random(0,-200)&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:1.18,&quot;s&quot;:0.06,&quot;l&quot;:{&quot;x&quot;:&quot;-1200%&quot;,&quot;y&quot;:&quot;1200%&quot;,&quot;opacity&quot;:0},&quot;e&quot;:&quot;Power4.easeIn&quot;}]},{&quot;t&quot;:&quot;this&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;width&quot;:&quot;100%&quot;,&quot;height&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0.95,&quot;d&quot;:1,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;${this.data-sector}&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:1.95,&quot;d&quot;:0.66,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#eaeaea&quot;}},{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:2.64,&quot;d&quot;:0,&quot;l&quot;:{&quot;pgCall&quot;:{&quot;complete&quot;:&quot;startHiring&quot;}}}]}]},&quot;trg&quot;:&quot;click on a.get-hired-button&quot;}]}"
		data-sector>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="met">
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff"></stop>
					<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)"></path>
		</svg>
	</div>
	<nav class="fixed-top main-nav navbar navbar-dark navbar-expand-lg pb-3 pt-3 section-dark-grey">
		<div class="container-lg gx-4 gx-lg-3"> <a class="navbar-brand" href="/">
             <img
					src="/img/logo.png"
					class="header-logo" /></a> <a 
				class="btn btn-light d-lg-none header-contact-button header-contact-button-phone me-3 ms-auto"
				href="tel:+443332005424"><span class="visually-hidden">Phone Seven Resourcing</span><svg
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="15px"
					width="15px" fill="#2d2d2d" xml:space="preserve" version="1.1" viewBox="0 0 378.46 378.25" x="0px"
					y="0px" fill-rule="evenodd" clip-rule="evenodd">
					<defs>
						<style type="text/css">
							.fil0 {
								fill: #000;
							}

							.fil1 {
								fill: #000;
								fill-rule: nonzero;
							}
						</style>
					</defs>
					<g>
						<path class="fil0"
							d="M238.66 281.78c-63.61,-33.93 -105.07,-80.4 -141.88,-142.1l23.51 -23.84c10.53,-10.67 13.1,-26.16 6.58,-39.66l-31.46 -65.22c-3.74,-7.74 -11.88,-12.03 -20.38,-10.73 -25.45,3.88 -53.77,6.71 -68.04,31.73 -56.15,98.38 241.45,395.52 339.66,339.24 24.89,-14.26 27.7,-42.44 31.56,-67.79 1.3,-8.51 -2.99,-16.65 -10.74,-20.38l-65.21 -31.46c-13.51,-6.52 -28.99,-3.95 -39.66,6.58l-23.95 23.62z">
						</path>
						<path class="fil1"
							d="M353.12 170.98c0,6.85 5.55,12.41 12.4,12.41 6.85,0 12.41,-5.56 12.41,-12.41 0,-47.08 -19.09,-89.71 -49.94,-120.57 -30.86,-30.85 -73.49,-49.94 -120.57,-49.94 -6.85,0 -12.41,5.56 -12.41,12.41 0,6.85 5.56,12.4 12.41,12.4 40.23,0 76.66,16.31 103.02,42.68 26.37,26.36 42.68,62.79 42.68,103.02z">
						</path>
						<path class="fil1"
							d="M300.42 170.98c0,6.85 5.55,12.41 12.4,12.41 6.85,0 12.4,-5.56 12.4,-12.41 0,-32.53 -13.18,-61.98 -34.5,-83.3 -21.32,-21.32 -50.77,-34.5 -83.3,-34.5 -6.85,0 -12.41,5.55 -12.41,12.4 0,6.85 5.56,12.4 12.41,12.4 25.68,0 48.93,10.41 65.76,27.24 16.83,16.83 27.24,40.08 27.24,65.76z">
						</path>
						<path class="fil1"
							d="M247.72 170.98c0,6.85 5.55,12.41 12.4,12.41 6.85,0 12.4,-5.56 12.4,-12.41 0,-17.98 -7.28,-34.25 -19.07,-46.04 -11.78,-11.78 -28.05,-19.06 -46.03,-19.06 -6.85,0 -12.41,5.55 -12.41,12.4 0,6.85 5.56,12.4 12.41,12.4 11.12,0 21.2,4.51 28.49,11.81 7.29,7.29 11.81,17.37 11.81,28.49z">
						</path>
					</g>
				</svg></a>
			<a class="btn btn-light d-lg-none header-contact-button header-contact-button-phone me-3"
				href="/cdn-cgi/l/email-protection#543c3138383b14273122313a792631273b2126373d3a337a373b7a213f"><span
					class="visually-hidden">Send email to Seven Resourcing</span><svg xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" height="17px" width="17px" fill="#2d2d2d"
					xml:space="preserve" version="1.1"
					style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;"
					viewBox="0 0 374.62 250.32" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd">
					<defs>
						<style type="text/css">
							.fil0 {
								fill: #000;
							}
						</style>
					</defs>
					<g>
						<path class="fil0"
							d="M360.06 250.32l-93.78 -104.1 -32.1 28.91c-12.9,11.63 -29.49,18.08 -46.87,18.08 -17.38,0 -33.96,-6.45 -46.87,-18.08l-32.29 -29.09 -93.94 104.28 345.85 0z">
						</path>
						<polygon class="fil0" points="283.91,130.33 374.62,231.03 374.62,48.62 "></polygon>
						<polygon class="fil0" points="-0,230.63 90.51,130.16 -0,48.62 "></polygon>
						<path class="fil0"
							d="M7.74 23.65l148.58 133.84c8.54,7.69 19.5,11.96 30.99,11.96 11.5,0 22.46,-4.27 30.99,-11.96l148.58 -133.84c9.24,-8.32 3.35,-23.65 -9.09,-23.65l-340.96 0c-12.44,0 -18.33,15.33 -9.09,23.65z">
						</path>
					</g>
				</svg></a>
			<button class="border navbar-toggler p-1" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarToggler6" aria-controls aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler6">
				<ul class="menu ms-lg-auto navbar-nav pb-4 pb-lg-1 pe-0 pe-lg-3 ps-lg-3 pt-4 pt-lg-0 text-center text-lg-start"
					id="menu-header-menu">
					<li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-66"
						id="menu-item-66"> <a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-64"
						id="menu-item-64"> <a class="nav-link"
							href="/employers/">Employers</a>
					</li>
					<li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-63"
						id="menu-item-63"> <a class="nav-link"
							href="/job-seekers/">Jobseekers</a>
					</li>
				
					<li class="nav-item header-cv menu-item menu-item-type-post_type menu-item-object-page menu-item-43790"
						id="menu-item-43790"> <a class="nav-link"
							href="/upload-cv/">Upload CV</a>
					</li>
					<li class="nav-item header-contact menu-item menu-item-type-post_type menu-item-object-page menu-item-42019"
						id="menu-item-42019"> <a class="nav-link"
							href="/contact/">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	