<%-include("./partials/navbar")%>

<section class="page-content pb-0 pt-0">
<section class="d-flex flex-column justify-content-center page-image-header" style="background-image:url('https://www.seven-resourcing.com/wp-content/uploads/2022/07/seven-homepage-hero.jpg')">
<div class="container container-old" style="z-index: 10;">
<div class="justify-content-center row">
<div class="central-align col-md-6 columns text-center">
<nav aria-label="breadcrumbs" class="rank-math-breadcrumb"><p><a href="https://www.seven-resourcing.com">Home</a><span class="separator"> &raquo; </span><span class="last">Contact Us</span></p></nav> <h1 class="primary-header text-white">Contact Us</h1>
</div>
</div>
</div>
</section>
<section class="grey section-why-seven white" style="background-color:;">
<div class="container text-center">
<div class="justify-content-center pt-5 row title-and-text-content-block">
<div class="central-align col-10 col-lg-10 col-xl-7 columns ten">
<h2 class="double-weight-header">Here for you, <span class="sector-text-colour">exactly when you need us.</span></h2>
</div>
</div>
<div class="central-align justify-content-center pb-5 pt-5 row title-and-text-content-block">
<div class="col-10 col-xl-7 columns main_content_main_copy ten">
<p>If you have any questions about finding work or staff, simply fill out the form below and one of our multi-award-winning Consultants will be in touch very soon. If you are a jobseeker, you can also <a href="https://www.seven-resourcing.com/upload-cv/">upload your CV</a> to fast-track your search.</p>
</div>
</div>
</div>
</section>
<section class="section-light-grey">
<div class="container-xl">
<div class="justify-content-center pb-5 pt-5 row">
<div class="col-11 col-lg-9 col-why-seven">
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript"></script>
<div class="gf_browser_unknown gform_wrapper gravity-theme gform-theme--no-framework" data-form-theme="gravity-theme" data-form-index="0" id="gform_wrapper_2"><div id="gf_2" class="gform_anchor" tabindex="-1"></div>
<div class="gform_heading">
<p class="gform_description"></p>
<p class="gform_required_legend">&quot;<span class="gfield_required gfield_required_asterisk">*</span>&quot; indicates required fields</p>
</div><form method="post" enctype="multipart/form-data" target="gform_ajax_frame_2" id="gform_2" action="/contact/#gf_2" data-formid="2" novalidate>
<div class="gform-body gform_body"><div id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below"><div id="field_2_6" class="gfield gfield--type-text gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible" data-js-reload="field_2_6"><label class="gfield_label gform-field-label" for="input_2_6">First Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class="ginput_container ginput_container_text"><input name="input_6" id="input_2_6" type="text" value class="large" aria-required="true" aria-invalid="false" autocomplete="given-name" /> </div></div><div id="field_2_7" class="gfield gfield--type-text gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible" data-js-reload="field_2_7"><label class="gfield_label gform-field-label" for="input_2_7">Second Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class="ginput_container ginput_container_text"><input name="input_7" id="input_2_7" type="text" value class="large" aria-required="true" aria-invalid="false" autocomplete="family-name" /> </div></div><div id="field_2_3" class="gfield gfield--type-email gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible" data-js-reload="field_2_3"><label class="gfield_label gform-field-label" for="input_2_3">Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class="ginput_container ginput_container_email">
<input name="input_3" id="input_2_3" type="email" value class="large" aria-required="true" aria-invalid="false" autocomplete="email" />
</div></div><div id="field_2_4" class="gfield gfield--type-phone gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible" data-js-reload="field_2_4"><label class="gfield_label gform-field-label" for="input_2_4">Phone<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class="ginput_container ginput_container_phone"><input name="input_4" id="input_2_4" type="tel" value class="large" aria-required="true" aria-invalid="false" autocomplete="tel" /></div></div><div id="field_2_5" class="gfield gfield--type-textarea gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible" data-js-reload="field_2_5"><label class="gfield_label gform-field-label" for="input_2_5">Message<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class="ginput_container ginput_container_textarea"><textarea name="input_5" id="input_2_5" class="textarea large" aria-required="true" aria-invalid="false" rows="10" cols="50"></textarea></div></div><div id="field_2_8" class="gfield gfield--type-captcha gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label gfield_visibility_visible" data-js-reload="field_2_8"><label class="gfield_label gform-field-label" for="input_2_8">CAPTCHA</label><div id="input_2_8" class="ginput_container ginput_recaptcha" data-sitekey="6LdmOBMiAAAAAFyCHlgSl6n2fduVQcvBRoQvaTe-" data-theme="light" data-tabindex="-1" data-size="invisible" data-badge="bottomright"></div></div><div id="field_2_9" class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below gfield_visibility_visible" data-js-reload="field_2_9"><label class="gfield_label gform-field-label" for="input_2_9">Email</label><div class="ginput_container"><input name="input_9" id="input_2_9" type="text" value autocomplete="new-password" /></div><div class="gfield_description" id="gfield_description_2_9">This field is for validation purposes and should be left unchanged.</div></div></div></div>
<div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_2" class="gform_button button" value="Send" onclick="if(window[&quot;gf_submitting_2&quot;]){return false;}  if( !jQuery(&quot;#gform_2&quot;)[0].checkValidity || jQuery(&quot;#gform_2&quot;)[0].checkValidity()){window[&quot;gf_submitting_2&quot;]=true;}  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_2&quot;]){return false;} if( !jQuery(&quot;#gform_2&quot;)[0].checkValidity || jQuery(&quot;#gform_2&quot;)[0].checkValidity()){window[&quot;gf_submitting_2&quot;]=true;}  jQuery(&quot;#gform_2&quot;).trigger(&quot;submit&quot;,[true]); }" /> <input type="hidden" name="gform_ajax" value="form_id=2&amp;title=&amp;description=1&amp;tabindex=0" />
<input type="hidden" class="gform_hidden" name="is_submit_2" value="1" />
<input type="hidden" class="gform_hidden" name="gform_submit" value="2" />
<input type="hidden" class="gform_hidden" name="gform_unique_id" value />
<input type="hidden" class="gform_hidden" name="state_2" value="WyJbXSIsIjdjODBlYjBjNTg1ZWVkMjYyODMwMjAyOWYyZTEwMTg0Il0=" />
<input type="hidden" class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2" value="0" />
<input type="hidden" class="gform_hidden" name="gform_source_page_number_2" id="gform_source_page_number_2" value="1" />
<input type="hidden" name="gform_field_values" value />
</div>
</form>
</div>
<iframe style="display:none;width:0px;height:0px;" src="about:blank" name="gform_ajax_frame_2" id="gform_ajax_frame_2" title="This iframe contains the logic required to handle Ajax powered Gravity Forms."></iframe>
<script type="text/javascript">
gform.initializeOnLoaded( function() {gformInitSpinner( 2, 'https://www.seven-resourcing.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery('#gform_ajax_frame_2').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_2');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_2').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_2').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_2').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_2').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_2').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_2').val();gformInitSpinner( 2, 'https://www.seven-resourcing.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery(document).trigger('gform_page_loaded', [2, current_page]);window['gf_submitting_2'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_2').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_2').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [2]);window['gf_submitting_2'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_2').text());}, 50);}else{jQuery('#gform_2').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [2, current_page]);gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 2, currentPage: current_page } });} );} );
</script>
</div>
</div>
</div>
</section>
<section class=" twin-col-icon" style="background-color:;">
<div class="container">
<div class="justify-content-around pb-4 position-relative pt-4 row title-and-text-content-block">
<div class="col-11 col-md-6 columns pe-5 ps-5 text-center twin_title_and_text_content_block_col">
<h2 class="mb-5 page-header primary-header"><span>Find</span> <span class="fw-bolder sector-text-colour">Us</span></h2>
<p>2nd Floor, Oberon House (B67)<br/>
Adastral Park, Ipswich, Suffolk<br/>
IP5 3RE, United Kingdom</p>
</div>
<div class="col-11 col-md-6 mt-5 mt-md-0 pe-5 ps-5 text-center twin_title_and_text_content_block_col">
<h2 class="mb-5 page-header primary-header"><span>Say</span> <span class="fw-bolder sector-text-colour">Hello</span></h2>
<p>Tel: <a href="tel:03332005424">0333 200 5424</a><br/>
Fax: 0333 200 5425<br/>
<a href="/cdn-cgi/l/email-protection#ec8489808083ac9f899a8982c19e899f83999e8f85828bc28f8381"><span class="__cf_email__" data-cfemail="bfd7dad3d3d0ffccdac9dad192cddaccd0cacddcd6d1d891dcd0d2">[email&#160;protected]</span></a></p>
</div>
</div>
</div>
</section>
<section class="pb-0 pt-0 sector-background">
<div class="wrapper-map wrapper">
<div class="footer-map-wrapper">
<div id="map" class="contact-map" data-map-lat="52.0587918" data-map-long="1.2838481" data-lat="52.0587918" data-long="1.2838481"></div>
</div>
</div>
</section>
</section>
<%-include("./partials/footer")%>