     <%-include("./partials/navbar")%>
	<div class="hire-header sector-background"
		style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2021/07/seven-split-headers-09.svg);"
		data-pg-ia="{&quot;l&quot;:[{&quot;name&quot;:&quot;get-hired-shower&quot;,&quot;trg&quot;:&quot;click on a.get-hired-button&quot;,&quot;a&quot;:{&quot;l&quot;:[{&quot;t&quot;:&quot;svg&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;scale&quot;:&quot;random(1,4)&quot;,&quot;yPercent&quot;:&quot;random(-200,-300)&quot;,&quot;xPercent&quot;:&quot;random(0,-200)&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:1.18,&quot;s&quot;:0.06,&quot;l&quot;:{&quot;x&quot;:&quot;-1200%&quot;,&quot;y&quot;:&quot;1200%&quot;,&quot;opacity&quot;:0},&quot;e&quot;:&quot;Power4.easeIn&quot;}]},{&quot;t&quot;:&quot;this&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;width&quot;:&quot;100%&quot;,&quot;height&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0.95,&quot;d&quot;:1,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#D65C56&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:1.95,&quot;d&quot;:0.66,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#eaeaea&quot;}},{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:2.68,&quot;d&quot;:0,&quot;l&quot;:{&quot;pgCall&quot;:{&quot;complete&quot;:&quot;getHired&quot;}}}]}]}},{&quot;name&quot;:&quot;start-hiring-shower&quot;,&quot;a&quot;:{&quot;l&quot;:[{&quot;t&quot;:&quot;svg&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;scale&quot;:&quot;random(1,4)&quot;,&quot;yPercent&quot;:&quot;random(-200,-300)&quot;,&quot;xPercent&quot;:&quot;random(0,-200)&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:1.18,&quot;s&quot;:0.06,&quot;l&quot;:{&quot;x&quot;:&quot;-1200%&quot;,&quot;y&quot;:&quot;1200%&quot;,&quot;opacity&quot;:0},&quot;e&quot;:&quot;Power4.easeIn&quot;}]},{&quot;t&quot;:&quot;this&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;width&quot;:&quot;100%&quot;,&quot;height&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0.95,&quot;d&quot;:1,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#D65C56&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:1.95,&quot;d&quot;:0.66,&quot;l&quot;:{&quot;backgroundColor&quot;:&quot;#eaeaea&quot;}},{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:2.68,&quot;d&quot;:0,&quot;l&quot;:{&quot;pgCall&quot;:{&quot;complete&quot;:&quot;startHiring&quot;}}}]}]},&quot;trg&quot;:&quot;click on a.get-hired-button&quot;}]}">
		<svg class="planet" xmlns="http://www.w3.org/2000/svg" width="66.214" height="66.214"
			viewBox="0 0 66.214 66.214">
			<path id="Path_506" data-name="Path 506"
				d="M1376.67-3461.3a33.073,33.073,0,0,0,14.357,27.292,32.94,32.94,0,0,0,18.751,5.816,33.108,33.108,0,0,0,33.106-33.108,32.939,32.939,0,0,0-5.816-18.751,33.072,33.072,0,0,0-27.291-14.355A33.107,33.107,0,0,0,1376.67-3461.3Zm38.374,6.961a2.258,2.258,0,0,1,2.258,2.257,2.258,2.258,0,0,1-2.258,2.258,2.257,2.257,0,0,1-2.257-2.258A2.257,2.257,0,0,1,1415.044-3454.342Zm-8.088-31.978a5.268,5.268,0,0,1,5.268,5.266,5.268,5.268,0,0,1-5.268,5.268,5.268,5.268,0,0,1-5.268-5.268A5.268,5.268,0,0,1,1406.956-3486.32Zm-7.712,30.1a8.652,8.652,0,0,1,8.653,8.652,8.652,8.652,0,0,1-8.653,8.652,8.652,8.652,0,0,1-8.652-8.652A8.651,8.651,0,0,1,1399.243-3456.222Z"
				transform="translate(-1376.67 3494.409)" fill="#C6C6C6" style="isolation: isolate" />
		</svg>
		<svg class="planet" xmlns="http://www.w3.org/2000/svg" width="72.576" height="72.576"
			viewBox="0 0 72.576 72.576" preserveAspectRatio>
			<circle id="Ellipse_92" data-name="Ellipse 92" cx="36.288" cy="36.288" r="36.288" fill="#c6c6c6" />
		</svg>
		<svg class="planet" xmlns="http://www.w3.org/2000/svg" width="72.576" height="72.576"
			viewBox="0 0 72.576 72.576" preserveAspectRatio>
			<circle id="Ellipse_92" data-name="Ellipse 92" cx="36.288" cy="36.288" r="36.288" fill="#c6c6c6" />
		</svg>
		<svg class="planet" xmlns="http://www.w3.org/2000/svg" width="72.576" height="72.576"
			viewBox="0 0 72.576 72.576" preserveAspectRatio>
			<circle id="Ellipse_92" data-name="Ellipse 92" cx="36.288" cy="36.288" r="36.288" fill="#c6c6c6" />
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="statmet-1" preserveAspectRatio>
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff" />
					<stop offset="1" stop-color="#fff" stop-opacity="0" />
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)" />
		</svg>
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="239.44" height="139.48" viewBox="0 0 239.44 139.48" class="statmet-2" preserveAspectRatio>
			<defs>
				<style>
					.a88c2ecd-56f5-4bda-88b5-07580cae8596 {
						fill: url(#b6f1c62d-327b-4e9f-8171-16ac45cc1db5);
					}
				</style>
				<linearGradient x1="729.15" y1="598.38" x2="865.02" y2="521.35" gradientUnits="userSpaceOnUse"
					id="b6f1c62d-327b-4e9f-8171-16ac45cc1db5">
					<stop offset="0" stop-color="#fff" />
					<stop offset="1" stop-color="#fff" stop-opacity="0" />
				</linearGradient>
			</defs>
			<path class="a88c2ecd-56f5-4bda-88b5-07580cae8596"
				d="M697.24,619.76a2.5,2.5,0,0,1-1.24-4.67L930.43,480.6a2.5,2.5,0,0,1,2.49,4.34L698.49,619.42A2.5,2.5,0,0,1,697.24,619.76Z"
				transform="translate(-694.74 -480.27)" />
		</svg>
		<svg class="circplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			width="40.414" height="40.415" viewBox="0 0 40.414 40.415">
			<defs>
				<clipPath id="clip-path">
					<circle id="Ellipse_59" data-name="Ellipse 59" cx="19.589" cy="19.589" r="19.589" fill="none" />
				</clipPath>
			</defs>
			<g id="Group_771" data-name="Group 771" transform="translate(-3518.997 666.522)">
				<g id="Group_515" data-name="Group 515" transform="translate(3518.997 -666.522)">
					<path id="Path_428" data-name="Path 428"
						d="M3539.205-626.107A20.23,20.23,0,0,1,3519-646.315a20.23,20.23,0,0,1,20.207-20.207,20.23,20.23,0,0,1,20.208,20.207A20.23,20.23,0,0,1,3539.205-626.107Zm0-39.186a19,19,0,0,0-18.978,18.978,19,19,0,0,0,18.978,18.978,19,19,0,0,0,18.978-18.978A19,19,0,0,0,3539.205-665.293Z"
						transform="translate(-3518.998 666.522)" fill="#fff" />
				</g>
				<path id="Path_429" data-name="Path 429"
					d="M3523.525-648.954c-.237-.351-.486-.706-.735-1.066a19.51,19.51,0,0,0-2.734,11.448c.842-.085,1.682-.187,2.5-.353a3.877,3.877,0,0,0,3.235-2.626C3526.544-644.178,3524.934-646.866,3523.525-648.954Z"
					transform="translate(-0.388 -6.36)" fill="#fff" />
				<path id="Path_430" data-name="Path 430"
					d="M3547.556-627.172a2.754,2.754,0,0,0-1.909.46,13.541,13.541,0,0,0-2.045,1.194,25.063,25.063,0,0,0-6.3,7.077c-.814,1.256-1.637,2.537-2.352,3.863a19.572,19.572,0,0,0,7.591,2.794,16.161,16.161,0,0,1,2.148-7.907c.623-.986,1.362-1.9,2.045-2.842a10.009,10.009,0,0,0,1.637-2.825A1.334,1.334,0,0,0,3547.556-627.172Z"
					transform="translate(-6.147 -15.144)" fill="#fff" />
				<g id="Group_516" data-name="Group 516" transform="translate(3539.996 -659.193)">
					<path id="Path_431" data-name="Path 431" d="M3564.938-604.66l-.046-.123a1.107,1.107,0,0,0,.044.124Z"
						transform="translate(-3557.685 635.398)" fill="#fff" />
					<path id="Path_432" data-name="Path 432"
						d="M3571.608-645.43c-.085-.441-.189-.872-.3-1.3a50.13,50.13,0,0,0-5,5.453c-.917,1.12-1.806,2.262-2.71,3.391-.442.552-.882,1.136-1.381,1.651.1-.213.207-.422.3-.629a58.654,58.654,0,0,1,3.156-6.089,24.534,24.534,0,0,1,4.91-5.982,19.43,19.43,0,0,0-3.451-5.661q-3.293,6.332-6.563,12.676-2.164,4.208-4.294,8.435c-1.292,2.568-2.852,5.223-3.082,8.149a14.1,14.1,0,0,0,.042,2.154,1.884,1.884,0,0,0,.138.8.532.532,0,0,0,.224.215c.124-.008.249-.014.373-.024a.636.636,0,0,0,.1-.073,11.5,11.5,0,0,0,2.014-.226,17.494,17.494,0,0,0,1.925-.463q.557-.168,1.1-.371.292-.109.579-.227l.281-.118a.539.539,0,0,0,.08-.021l.064-.028c.042-.033.006-.069-.127-.112-.047-.061.116.027.218.071l.089-.039c.038-.078.02-.06.082-.18.073.095.1-.337.171-.243a2.4,2.4,0,0,1,.052-.742c.025-.283.055-.565.094-.845a15.213,15.213,0,0,1,.287-1.52,11.617,11.617,0,0,1,.9-2.489,16.125,16.125,0,0,1,3.241-4.174,42.458,42.458,0,0,1,4.8-4.128c.629-.454,1.27-.889,1.915-1.32A19.578,19.578,0,0,0,3571.608-645.43Zm-9.926,9.686h-.017A.017.017,0,0,1,3561.682-635.744Zm-.021,0Zm0,0h.014C3561.646-635.721,3561.65-635.733,3561.665-635.743Zm.366.262a.248.248,0,0,0,0-.067C3562.046-635.527,3562.04-635.532,3562.031-635.481Z"
						transform="translate(-3553.166 654.597)" fill="#fff" />
				</g>
				<g id="Group_524" data-name="Group 524" transform="translate(3519.615 -665.904)">
					<g id="Group_523" data-name="Group 523" clip-path="url(#clip-path)">
						<g id="Group_522" data-name="Group 522" transform="translate(-3.033 -5.937)">
							<g id="Group_521" data-name="Group 521">
								<g id="Group_517" data-name="Group 517" transform="translate(20.582 12.293)">
									<path id="Path_433" data-name="Path 433" d="M3548.556-655.173"
										transform="translate(-3548.556 655.173)" fill="#333" />
								</g>
								<g id="Group_518" data-name="Group 518" transform="translate(20.253 17.129)">
									<path id="Path_434" data-name="Path 434"
										d="M3548.177-647.143c-.034-.028-.064-.06-.1-.091s-.1-.12-.037-.039"
										transform="translate(-3548.022 647.303)" fill="#333" />
								</g>
								<g id="Group_519" data-name="Group 519" transform="translate(20.534 17.36)">
									<path id="Path_435" data-name="Path 435" d="M3548.478-646.929"
										transform="translate(-3548.478 646.929)" fill="#333" />
								</g>
								<g id="Group_520" data-name="Group 520">
									<path id="Path_436" data-name="Path 436"
										d="M3542.239-674.342a9.847,9.847,0,0,0-8.972.562,10.952,10.952,0,0,0-5.312,6.791c-.927,3.852.761,7.685.957,11.519a16.543,16.543,0,0,1-2.644,10.222,12.106,12.106,0,0,1-8.3,5.174,10.4,10.4,0,0,1-2.449,0c-.605-.071-.6.878,0,.948l8.855,8.172a15.729,15.729,0,0,0-.2,2.522.474.474,0,0,0,.948,0c-.006-7.624,5.78-13.449,10.809-18.464,5.081-5.067,10.612-10.962,10.682-18.617C3546.64-668.843,3545.46-672.8,3542.239-674.342ZM3537-657.116a.43.43,0,0,1-.219.077,1.813,1.813,0,0,1-1.776-.309,2.672,2.672,0,0,1-.712-1.683,8.464,8.464,0,0,1,.472-3.728,5.852,5.852,0,0,1,.314-.75,7.558,7.558,0,0,1,.482-.932,2.107,2.107,0,0,1,1.846-.989,2.3,2.3,0,0,1,1.7.983,2.14,2.14,0,0,1,.365.867,8.341,8.341,0,0,1,.167,1.4A6.214,6.214,0,0,1,3537-657.116Z"
										transform="translate(-3515.067 675.176)" fill="#fff" />
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</svg>
		<img src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/svg/seven-hiring-stars.svg"
			class="hirestars" />
		<svg class="space-lines" xmlns="http://www.w3.org/2000/svg" width="1467.805" height="588.989"
			viewBox="0 0 1467.805 588.989"
			data-pg-ia="{&quot;l&quot;:[{&quot;name&quot;:&quot;lineloop&quot;,&quot;trg&quot;:&quot;now&quot;,&quot;t&quot;:&quot;path&quot;,&quot;a&quot;:{&quot;l&quot;:[{&quot;t&quot;:&quot;$#Path_500, #Path_502&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;stroke-dasharray&quot;:&quot;100%&quot;,&quot;stroke-dashoffset&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:4,&quot;s&quot;:2,&quot;l&quot;:{&quot;stroke-dashoffset&quot;:0},&quot;e&quot;:&quot;Linear.easeNone&quot;},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:4,&quot;d&quot;:4,&quot;s&quot;:2,&quot;l&quot;:{&quot;stroke-dashoffset&quot;:&quot;-100%&quot;},&quot;e&quot;:&quot;Linear.easeNone&quot;}]},{&quot;t&quot;:&quot;$#Path_501&quot;,&quot;l&quot;:[{&quot;t&quot;:&quot;set&quot;,&quot;p&quot;:0,&quot;d&quot;:0,&quot;l&quot;:{&quot;stroke-dasharray&quot;:&quot;100%&quot;,&quot;stroke-dashoffset&quot;:&quot;100%&quot;}},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:0,&quot;d&quot;:4,&quot;s&quot;:0,&quot;l&quot;:{&quot;stroke-dashoffset&quot;:0},&quot;e&quot;:&quot;Linear.easeNone&quot;},{&quot;t&quot;:&quot;tween&quot;,&quot;p&quot;:4,&quot;d&quot;:4,&quot;s&quot;:2,&quot;l&quot;:{&quot;stroke-dashoffset&quot;:&quot;-100%&quot;},&quot;e&quot;:&quot;Linear.easeNone&quot;}]}]},&quot;d&quot;:&quot;20s&quot;,&quot;rpt&quot;:&quot;-1 &quot;, &quot;on&quot;:&quot;desktop&quot;}]}">
			<g id="Group_601" data-name="Group 601" transform="translate(772.873 996.779)">
				<path id="Path_500" data-name="Path 503"
					d="M-771.931-789.859S-713.3-624.712-516.881-621.78s320.523-154.966,325.409-374.837" fill="none"
					stroke="rgba(255,255,255,0.2)" stroke-miterlimit="10" stroke-width="2" />
				<path id="Path_501" data-name="Path 504"
					d="M419.28-996.617s-45.929,280.7-224.757,340.795c-93.024,31.262-195.4,9.5-348.862,27.85C-289.193-611.848-328.281-518.2-491.474-525.037s-272.639-177.6-272.639-177.6"
					fill="none" stroke="rgba(255,255,255,0.2)" stroke-miterlimit="10" stroke-width="2" />
				<path id="Path_502" data-name="Path 505"
					d="M-537.833-408.65s190.266-112.5,326.083-116.062,306.6,45.072,402.364,58.042S461.3-446.7,574.655-509.4c109.8-60.734,119.3-99.674,119.3-99.674"
					fill="none" stroke="rgba(255,255,255,0.2)" stroke-miterlimit="10" stroke-width="2" />
			</g>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="1851.525" height="1091.43" viewBox="0 0 1851.525 1091.43"
			class="satloop" preserveAspectRatio fill="currentColor">
			<g id="Group_878" data-name="Group 878" transform="translate(-1033.025 -917.496)">
				<path id="Path_544" data-name="Path 544"
					d="M-944.993,503.381s391.467,139.593,537.13-69.8c148.1-212.89,421.813-371.742,751.071-262.5S554.114,587.776,554.114,587.776,464.592,862.984,60.987,812.913s-565.065-822-617.547-927.079-180.2-196.26-371.382-140.12C-1132.383-194.251-1586.817,224.195-944.993,503.381Z"
					transform="translate(2309.185 1189.399)" fill="none" stroke="0" stroke-miterlimit="10"
					stroke-width="1" />
				<g id="Group_603" data-name="Group 603" transform="matrix(0.53, 0.848, -0.848, 0.53, 1894.073, 206.896)"
					class="satthing">
					<path id="Path_385" data-name="Path 385"
						d="M201.113,297.894a.7.7,0,1,1,.421-.888l.009.028A.7.7,0,0,1,201.113,297.894Z"
						transform="translate(974.821 -29.921)" fill="#fff" />
					<g id="Group_602" data-name="Group 602" transform="translate(1159 258.068)">
						<path id="Path_365" data-name="Path 365"
							d="M163.075,363.78a8.014,8.014,0,0,1-5.868-.928,8.1,8.1,0,0,1-4.059-4.234c-.276-.9,1.051-1.378,1.314-.461l.017.055a6.808,6.808,0,0,0,3.376,3.41,6.727,6.727,0,0,0,4.777.84A.7.7,0,0,1,163.075,363.78Z"
							transform="translate(-148.506 -334.304)" fill="#fff" />
						<path id="Path_384" data-name="Path 384"
							d="M166.783,352.243a4.582,4.582,0,0,0,4.622,2.436.7.7,0,0,1,.442,1.319,5.076,5.076,0,0,1-3.783-.582,5.132,5.132,0,0,1-2.6-2.736.7.7,0,0,1,1.318-.444C166.757,352.15,166.739,352.091,166.783,352.243Z"
							transform="translate(-157.838 -329.825)" fill="#fff" />
						<path id="Path_386" data-name="Path 386"
							d="M161.306,267.937l-8.117-4.29.013-.023-4.433-2.4-.6,1.113a10.191,10.191,0,0,1,.165,1.538,11.737,11.737,0,0,1-.072,2.113,12.576,12.576,0,0,1-.415,1.9c-.027.094-.055.179-.083.267l-9.651-5.1a.7.7,0,0,0-.94.29l-2.993,5.664a.7.7,0,0,0,.29.939l9.833,5.2-.04.078a5.541,5.541,0,0,0,1.713,7.117l-.623,1.178a.7.7,0,0,0,1.231.65l.623-1.178a5.543,5.543,0,0,0,6.845-2.591l.041-.078,9.835,5.2a.694.694,0,0,0,.939-.289h0l2.993-5.662a.7.7,0,0,0-.29-.94l-9.834-5.2,1.481-2.8,2.164-1.509a.7.7,0,0,0-.073-1.185Zm-.269,8.813-.846,1.6-1.976-1.045-1.976-1.044.846-1.6Zm4.42,4.385L161.42,279l.846-1.6,4.038,2.135Zm-5.533.7.846-1.6,4.038,2.133-.847,1.6Zm-5.182-2.739.846-1.6,3.952,2.088-.846,1.6ZM141,271.829l.846-1.6,3.952,2.088-.846,1.6Zm-4.422-4.384,4.038,2.133-.846,1.6-4.038-2.134Zm5.535-.7-.847,1.6-4.037-2.136.846-1.6Zm5.146,2.719c-.023.046-.044.1-.068.138l.032.017-.775,1.467L142.5,269l.846-1.6Zm10.48.978-1.207,2.286-2.852-1.508a.7.7,0,0,0-.651,1.231l2.853,1.508-3.06,5.788a4.146,4.146,0,0,1-7.332-3.875l2.972-5.583.011.006a10.766,10.766,0,0,0,1.049-4.241Zm1.909-1.812-1.018.71-9.089-4.852a7.123,7.123,0,0,0-.141-1.276l3.129,1.695.016-.031Z"
							transform="translate(-134.1 -261.223)" fill="#fff" />
					</g>
					<path id="Path_389" data-name="Path 389"
						d="M188.778,317.664a2.9,2.9,0,1,0,1.207,3.915h0A2.9,2.9,0,0,0,188.778,317.664Zm-.022,3.265a1.506,1.506,0,1,1,.108-1.148,1.506,1.506,0,0,1-.108,1.148Z"
						transform="translate(986.687 -45.671)" fill="#fff" />
					<animateMotion dur="26s" repeatCount="indefinite">
						<mpath xlink:href="#Path_544"></mpath>
					</animateMotion>
				</g>
			</g>
		</svg>
		<div class="get-hired hire-type sector-text-colour"
			style="text-align: center; background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2021/07/seven-split-headers-09.svg);">
			<h1>Get <br class="onlyd">Hired</h1>
			<p class="hire-desc">Discover Your <br>Potential</p>
			<a id="getHiredLink" href="/get-hired/?&source=resourcing&sectorColour=ea5153"
				class="btn text-white hire-button get-hired-button hire-link sector-background fw-bold pb-2 pe-5 ps-5 pt-2 read-more rounded-pill">Get
				started</a>
		</div>
		<div class="hire-type start-hiring"
			style="text-align: center; background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2021/07/seven-split-headers-09.svg);" />
		<h1 style="color: #2D2D2D;">
			Start <br class="onlyd">Hiring </h1>
		<p class="hire-desc">
			Reach A World Of<br>
			Undiscovered Talent </p>
		<a id="getHiringLink" href="/start-hiring/?&source=resourcing&sectorColour=ea5153"
			class="btn text-white hire-button hire-link start-hiring-button btn-outline-dark fw-bold pb-2 pe-5 ps-5 pt-2 read-more rounded-pill">Get
			started</a>
	</div>
	</div>
	<section class="page-content pb-0 pt-0">
		<section>
			<div class="container-lg">
				<div class="row justify-content-center">
					<div class="col-11 col-md-10">
						<img class="brand-logo img-fluid"
							src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/png/seven-home-logos@2x-1.png" />
					</div>
				</div>
			</div>
		</section>
		<section class="pt-0">
			<main role="main" class="container-xxl sector-grid-container">
				<div class="row mt-4 mb-4">
					<div class="col-12  text-center">
						<h1 class="primary-header">Choose your Sector</h1>
					</div>
				</div>
				<div class="justify-content-center mb-5 mt-5 pb-4 pt-4 row">
					<%sector.forEach(e=>{%>
					<div class="col-6 col-md-3 col-sm-4 g-4 position-relative">
						<div class="box flex-column overflow-hidden sector-background sector-box square"
							>
							<div
								class="align-items-center content d-flex flex-column h-100 justify-content-center text-white w-100">
								<h6 class="fw-bolder mb-0 mt-3"><%=e.name%></h6>
								<p class="mb-0 sector-link">Visit Website </p><a class="stretched-link "
									href="https://www.seven-resourcing.com/social-care/"></a>
							</div>
							<div class="box-cover"></div>
						</div>
					</div>
					<%})%>
					
					
					
					
				</div>
			</main>
		</section>
		<section class="pb-0 section-light-grey">
			<div class="container container-old">
				<div class="justify-content-center row">
					<div class="central-align col-10 col-md-6 columns twelve">
						<h1 class="primary-header text-center">Multi-Award-Winning Recruitment <span
								class="drop-title">Across The UK &amp; Beyond</span></h1>
					</div>
				</div>
				<div class="d-flex justify-content-center  pb-5 pt-5 row">
					<div class="col-10 col-md-7">
						<p style="text-align: center;">Previous winners at The Recruiter Awards for our unrivalled
							client &amp; candidate services, we are now a multi-award-winning, global recruitment agency
							operating across 8 core sectors.</p>
						<p style="text-align: center;">Our relentless dedication to creating a faultless recruitment
							service has yielded staggering results since we opened our doors in 2011, and we are now
							recruiting across the planet with stunning offices in Ipswich, Colchester, Miami and The
							Gold Coast.</p>
						<p style="text-align: center;">Trusted by public, private and government organisations of all
							shapes and sizes, Seven Resourcing guarantee a friendly, hassle-free recruitment service
							underpinned by innovation, integrity and attention to detail.</p>
					</div>
				</div>
				<div class="central-align different-row justify-content-center mb-5 pb-5 pt-5 row">
					<div class="align-items-center col-10 col-md-4 d-flex different-col flex-column pe-4 ps-4">
						<img class="differently-logo mb-3"
							src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/png/seven-seamless-compliance-logo.png" />
						<h6 class="fw-bolder text-center">Seamless Compliance</h6>
						<p class="differently-text text-center">Rapid, safe and secure compliance means we can provide
							better staff, faster.</p>
					</div>
					<div
						class="align-items-center col-10 col-md-4 d-flex different-col flex-column mb-4 mb-md-0 mt-4 mt-md-0 triple-middle-col">
						<img class="differently-logo mb-3"
							src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/png/seven-payroll-logo.png" />
						<h6 class="fw-bolder text-center">Effortless Payroll</h6>
						<p class="differently-text text-center">Check and authorise timesheets in seconds, anywhere in
							the world, on any device.</p>
					</div>
					<div class="align-items-center col-10 col-md-4 d-flex different-col flex-column pe-4 ps-4">
						<img class="differently-logo mb-3"
							src="https://www.seven-resourcing.com/wp-content/themes/sevenremake/assets/png/seven-support-logo.png" />
						<h6 class="fw-bolder text-center">Human Support</h6>
						<p class="differently-text text-center">No aliens. No robots. Just friendly, human support from
							our amazing client services team.</p>
					</div>
				</div>
				<div class="home-testimonial-row pt-4 row">
					<div class="col-12 homepage-testimonial-wrapper position-relative testimonial-wrapper">
						<div class="sector-background testimonial-sector">
							<svg class="quote-colon" xmlns="http://www.w3.org/2000/svg" width="121.978" height="103.568"
								viewBox="0 0 121.978 103.568">
								<path id="Path_545" data-name="Path 545"
									d="M47.866,103.568H0V69.329Q0,48.549,3.662,36.539A50.026,50.026,0,0,1,17.2,14.991Q27.082,5.452,42.415,0l9.369,19.761Q37.475,24.53,31.258,33.046T24.7,55.7H47.866Zm70.194,0H70.194V69.329q0-20.952,3.662-32.876A49.776,49.776,0,0,1,87.484,14.991Q97.449,5.452,112.61,0l9.369,19.761q-14.309,4.77-20.526,13.286T94.894,55.7H118.06Z"
									fill="#fff" />
							</svg>
						</div>
						<div class="p-5 testimonial">
							<h6 class="fw-bolder mb-3 mt-3 title">It’s been a wonderful experience...</h6>
							<p>I have been working with seven for 6 months now and it’s been a wonderful experience. I
								have never worked for an agency before but Mathew has been an absolute pleasure to work
								with and nothing is ever too much trouble for him as he is always cheery and very
								professional. I hope to stay with this company for many years to come. Thank you Seven
								Resourcing for opening so many doors for me.</p>
							<p class="fw-bold mb-0 name">Margaret, Trustpilot, July 2020</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-match section-dark-grey text-white" style="padding-top: 170px; margin-top: -130px;">
			<div class="container">
				<div class="d-flex justify-content-center pt-5 row">
					<div class="col-10 col-lg-7 col-md-9 text-center" style="z-index: 50;">
						<h2 class="fw-bold mb-5">The people you need, exactly when you need them</h2>
						<p class="mb-5 pb-5">If you are looking for experienced, qualified and available staff in your
							area, get in touch! With over 400,000 talented professionals in our network and 300 new
							jobseekers added daily, we will find your perfect hire, time and time again. With temporary,
							ad-hoc and permanent recruitment capabilities, we give you access to a variety of flexible
							staffing solutions guaranteed to suit your requirements.</p>
						<h2 class="fw-bold mb-5 ">Find a role that pays what you deserve</h2>
						<p style="position: relative; z-index: 500;">We have been successfully placing candidates across
							the globe for almost a decade in 8 different sectors. Our incredible relationships with the
							leading employers in all of our sectors, multiple awards and hundreds of 5* reviews across
							the internet guarantee your career is in safe hands. By working directly with hiring
							managers, we will find you a role that is close to home and pays what you deserve.</p>
					</div>
				</div>
				<div class="d-flex justify-content-center pb-5 pt-5 row">
					<div class="col-11 col-lg-7 col-md-9 text-center" style="z-index: 50;">
						<img class="differently-logo img-fluid"
							src="https://www.seven-resourcing.com/wp-content/themes/seven-resourcing/assets/images/seven-awards.png" />
					</div>
				</div>
			</div>
		</section>
		<section style="z-index: 2;">
			<div class="container-md">
				<div class="d-flex justify-content-center pt-5 row">
					<div class="col-12 col-md-7 text-center">
						<h1 class="mb-5">Featured Jobs</h1>
					</div>
				</div>
				<div class="gy-4 justify-content-center pb-5 row">
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63778</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/residential-childcare-worker-63778/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Residential Childcare Worker</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Manchester City Centre</span>, <span>Greater Manchester</span>,
											<span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>15.11</span> - £<span>15.11</span> per hour </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Georgia Higgs</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Social Care are currently looking for several
										Residential Childcare Worker&#8217;s to start work in Manchester. This is an
										interim&hellip;</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/residential-childcare-worker-63778/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63778" data-job-title="Residential Childcare Worker">Read
											More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/residential-childcare-worker-63778/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63778" data-job-title="Residential Childcare Worker">Apply
											Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/residential-childcare-worker-63778/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Residential Childcare Worker"
											data-clipboard-text="Check out this Residential Childcare Worker job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/residential-childcare-worker-63778/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63771</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-commissioning-manager-63771/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Housing Commissioning Manager</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Nottingham</span>, <span>Nottinghamshire</span>,
											<span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>0</span> - £<span>0</span> per annum </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Jake Benham</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Resourcing are currently seeking a Housing
										Commissioning Manager to work within Nottinghamshire County Council. This is a
										full time&hellip;</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-commissioning-manager-63771/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63771" data-job-title="Housing Commissioning Manager">Read
											More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-commissioning-manager-63771/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63771" data-job-title="Housing Commissioning Manager">Apply
											Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-commissioning-manager-63771/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Housing Commissioning Manager"
											data-clipboard-text="Check out this Housing Commissioning Manager job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/housing-commissioning-manager-63771/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63770</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/senior-planner-63770/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Senior Planner</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Leicester</span>, <span>Leicestershire</span>,
											<span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>24.02</span> - £<span>24.02</span> per hour </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Alistair Guite</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Resourcing LTD is working with Leicester City
										Council to recruit a Senior Planner for their Housing, Benefits and
										Planning&hellip;</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/senior-planner-63770/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63770" data-job-title="Senior Planner">Read More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/senior-planner-63770/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63770" data-job-title="Senior Planner">Apply Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/senior-planner-63770/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Senior Planner"
											data-clipboard-text="Check out this Senior Planner job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/senior-planner-63770/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63769</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/community-housing-officer-63769/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Community Housing Officer</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Dudley</span>, <span>West Midlands</span>, <span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>0</span> - £<span>0</span> per annum </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Jake Benham</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Resourcing are looking for a Community Housing
										Officer to work within Dudley. This is a full time role, paying&nbsp;&hellip;
									</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/community-housing-officer-63769/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63769" data-job-title="Community Housing Officer">Read
											More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/community-housing-officer-63769/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63769" data-job-title="Community Housing Officer">Apply
											Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/community-housing-officer-63769/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Community Housing Officer"
											data-clipboard-text="Check out this Community Housing Officer job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/community-housing-officer-63769/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63768</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-fraud-officer-63768/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Housing Fraud Officer</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Dudley</span>, <span>West Midlands</span>, <span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>0</span> - £<span>0</span> per annum </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Jake Benham</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Resourcing are looking for a Housing Fraud Officer
										to work within Dudley. This is a full time role, paying&hellip;</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-fraud-officer-63768/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63768" data-job-title="Housing Fraud Officer">Read More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-fraud-officer-63768/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63768" data-job-title="Housing Fraud Officer">Apply Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/housing-fraud-officer-63768/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Housing Fraud Officer"
											data-clipboard-text="Check out this Housing Fraud Officer job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/housing-fraud-officer-63768/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-4 col-sm-6">
						<div class="h-100 mb-4">
							<div class="card h-100 job-card">
								<div class="card-body card-job-body d-flex flex-column h-100 p-4 p-xxl-5">
									<p class="align-items-center d-flex job-ref mb-2"><span
											class="align-items-center badge d-flex featured-pill flex-row me-2 rounded-pill sector-text-colour"
											style="color:;color:#ce322d;"><svg id="Group_3" data-name="Group 3"
												xmlns="http://www.w3.org/2000/svg" width="11" height="13.606"
												viewBox="0 0 14.306 13.606" preserveAspectRatio class="me-1">
												<path id="Path_3" data-name="Path 3"
													d="M-779.838-35.929l2.21,4.479,4.943.718-3.577,3.486.844,4.923-4.421-2.324-4.421,2.324.844-4.923-3.577-3.486,4.943-.718Z"
													transform="translate(786.991 35.929)" class="sector-svg-fill"
													style="fill:#ce322d;" />
											</svg> New</span> Job Reference: <span class="ms-1">63766</span></p>
									<h4 class="card-title mb-3"><a
											href="https://www.seven-resourcing.com/jobs/social-care/private-sector-housing-manager-63766/"
											class="card-title sector-text-colour" style="color:#ce322d;"><span
												class="fs-4 fw-bold">Private Sector Housing Manager</span></a></h4>
									<ul class="job-stats list-unstyled">
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="9.936" height="13.305"
												viewBox="0 0 9.936 13.305" class="me-1">
												<g id="Group_1094" data-name="Group 1094"
													transform="translate(777.521 445.745)">
													<g id="Path_34" data-name="Path 34"
														transform="translate(-777.521 -445.745)" fill="none">
														<path
															d="M 4.968013286590576 0.9999980926513672 C 2.780043125152588 0.9999980926513672 1.000002861022949 2.780038833618164 1.000002861022949 4.968008041381836 C 1.000002861022949 5.386318683624268 1.222972869873047 6.672198295593262 3.288233280181885 9.570658683776855 C 3.896349906921387 10.42410659790039 4.509867668151855 11.1990852355957 4.968013286590576 11.75693511962891 C 5.426173210144043 11.19906806945801 6.039676666259766 10.42410659790039 6.647793292999268 9.570658683776855 C 8.713053703308105 6.672198295593262 8.936023712158203 5.386318683624268 8.936023712158203 4.968008041381836 C 8.936023712158203 2.780038833618164 7.155982971191406 0.9999980926513672 4.968013286590576 0.9999980926513672 M 4.968013286590576 -1.9073486328125e-06 C 7.71177339553833 -1.9073486328125e-06 9.936023712158203 2.224258422851562 9.936023712158203 4.968008041381836 C 9.936023712158203 7.711768627166748 4.968013286590576 13.30463886260986 4.968013286590576 13.30463886260986 C 4.968013286590576 13.30463886260986 2.86102294921875e-06 7.711768627166748 2.86102294921875e-06 4.968008041381836 C 2.86102294921875e-06 2.224258422851562 2.224253177642822 -1.9073486328125e-06 4.968013286590576 -1.9073486328125e-06 Z"
															stroke="none" fill="#5d4a91" class="sector-svg-fill"
															style="fill:#ce322d;" />
													</g>
													<path id="Path_9999" data-name="Path 9999"
														d="M2.484,1A1.484,1.484,0,1,0,3.968,2.484,1.486,1.486,0,0,0,2.484,1m0-1A2.484,2.484,0,1,1,0,2.484,2.484,2.484,0,0,1,2.484,0Z"
														transform="translate(-775.036 -443.261)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg> <span>Dudley</span>, <span>West Midlands</span>, <span>England</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.42"
												viewBox="0 0 12.42 12.42" class="me-1">
												<g id="Group_1093" data-name="Group 1093"
													transform="translate(778.763 398.59)">
													<path id="Ellipse_4" data-name="Ellipse 4"
														d="M6.21,1a5.21,5.21,0,1,0,5.21,5.21A5.216,5.216,0,0,0,6.21,1m0-1A6.21,6.21,0,1,1,0,6.21,6.21,6.21,0,0,1,6.21,0Z"
														transform="translate(-778.763 -398.59)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Path_9998" data-name="Path 9998"
														d="M2.578,4.928h.5A1.558,1.558,0,0,1,2.8,4.4a2,2,0,0,1-.1-.6,1.437,1.437,0,0,1,.16-.68A1.67,1.67,0,0,1,3.29,2.6a1.937,1.937,0,0,1,.6-.332,2.094,2.094,0,0,1,.688-.116,2.085,2.085,0,0,1,1.46.492,1.932,1.932,0,0,1,.548,1.484H5.674a2.441,2.441,0,0,0-.076-.48,1.113,1.113,0,0,0-.184-.388A.83.83,0,0,0,5.086,3a1.191,1.191,0,0,0-.492-.092.86.86,0,0,0-.888.936,1.44,1.44,0,0,0,.12.564,5.507,5.507,0,0,0,.248.516H5.25v.52H4.266a1.121,1.121,0,0,1,.128.536,1.246,1.246,0,0,1-.064.4,1.45,1.45,0,0,1-.176.352,1.736,1.736,0,0,1-.26.3q-.148.136-.308.256l.016.016q.184-.072.36-.144A.983.983,0,0,1,4.338,7.1a1.3,1.3,0,0,1,.36.044q.152.044.288.092t.272.1a1.043,1.043,0,0,0,.32.044,1.071,1.071,0,0,0,.416-.08,1.349,1.349,0,0,0,.36-.224l.408.616a1.828,1.828,0,0,1-.6.352,2.194,2.194,0,0,1-.684.1,1.767,1.767,0,0,1-.388-.044q-.2-.044-.4-.076-.2-.064-.408-.112a1.915,1.915,0,0,0-.432-.048,1.409,1.409,0,0,0-.432.072,1.1,1.1,0,0,0-.376.2L2.618,7.48a2.279,2.279,0,0,0,.3-.244,2.271,2.271,0,0,0,.28-.32,1.86,1.86,0,0,0,.2-.36.945.945,0,0,0,.08-.372,1.681,1.681,0,0,0-.044-.392,1.6,1.6,0,0,0-.124-.344H2.578Z"
														transform="translate(-777.107 -397.934)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>£<span>0</span> - £<span>0</span> per annum </span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="11.592" height="11.592"
												viewBox="0 0 11.592 11.592" class="me-1">
												<g id="Group_1092" data-name="Group 1092"
													transform="translate(778.763 420.865)">
													<path id="Path_9999" data-name="Path 9999"
														d="M5.8,1a4.8,4.8,0,1,0,4.8,4.8A4.8,4.8,0,0,0,5.8,1m0-1A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z"
														transform="translate(-778.763 -420.865)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
													<path id="Union_1" data-name="Union 1"
														d="M0,6.045l2.986-2.1V0h1V4.14H3.9l.01.014L.4,6.618Z"
														transform="translate(-776.039 -418.795)" fill="#5d4a91"
														class="sector-svg-fill" style="fill:#ce322d;" />
												</g>
											</svg><span>Temporary</span> / <span>Full Time</span>
										</li>
										<li class="fw-bold mb-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="14.947" height="16.64"
												viewBox="0 0 14.947 16.64" class="me-1">
												<path id="Union_1" data-name="Union 1"
													d="M1289.587-3715.3c0-1.127,2.087-3.553,5.153-4.459a4.892,4.892,0,0,1-2.5-4.267,4.894,4.894,0,0,1,4.894-4.894,4.894,4.894,0,0,1,4.894,4.894,4.893,4.893,0,0,1-2.51,4.275c3.022.925,5,3.388,5.01,4.451.01,1.322-3.071,3.02-7.4,3.02S1289.587-3713.9,1289.587-3715.3Zm2.8-2.163a4.551,4.551,0,0,0-1.8,2.158c.024.113.385.647,1.682,1.176a13.22,13.22,0,0,0,4.87.848,12.557,12.557,0,0,0,4.738-.85c1.133-.476,1.6-.995,1.656-1.172a4.74,4.74,0,0,0-1.748-2.154,7.669,7.669,0,0,0-4.646-1.655A8.042,8.042,0,0,0,1292.383-3717.462Zm.862-6.564a3.9,3.9,0,0,0,3.894,3.894,3.9,3.9,0,0,0,3.894-3.894,3.9,3.9,0,0,0-3.894-3.894A3.9,3.9,0,0,0,1293.245-3724.025Z"
													transform="translate(-1289.587 3728.919)" fill="#eaeaea"
													class="sector-svg-fill" style="fill:#ce322d;" />
											</svg> <span>Jake Benham</span>
										</li>
									</ul>
									<p class="card-text mb-5">Seven Resourcing are looking for a Housing Manager to work
										within Dudley.&nbsp; This role is full time, paying &pound;300 per&hellip;</p>
									<div></div>
									<div class="align-items-xl-center buttons d-flex flex-column flex-xl-row mt-auto"><a
											href="https://www.seven-resourcing.com/jobs/social-care/private-sector-housing-manager-63766/"
											class="btn btn-outline-dark dynamic-load-button fw-bold pb-2 pe-3 ps-3 pt-2 read-more rounded-pill stretched-link"
											data-job-ref="63766" data-job-title="Private Sector Housing Manager">Read
											More</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/private-sector-housing-manager-63766/"
											class="apply-now btn btn-lg d-md-block d-none dynamic-load-button fw-bold ms-xl-2 mt-2 mt-xl-0 pb-2 pe-3 ps-3 pt-2 rounded-pill sector-background text-white"
											data-job-ref="63766" data-job-title="Private Sector Housing Manager">Apply
											Now</a><a
											href="https://www.seven-resourcing.com/jobs/social-care/private-sector-housing-manager-63766/"
											class="job-share ms-xl-auto mt-2 mt-xl-0" data-bs-toggle="tooltip"
											title="Copy to Clipboard" data-bs-placement="right" data-bs-trigger="hover"
											data-bs-delay="200" data-job-title="Private Sector Housing Manager"
											data-clipboard-text="Check out this Private Sector Housing Manager job on Seven Resourcing: https://www.seven-resourcing.com/jobs/social-care/private-sector-housing-manager-63766/"><svg
												id="DT_Share" data-name="DT Share" xmlns="http://www.w3.org/2000/svg"
												width="37" height="37" viewBox="0 0 45 45" preserveAspectRatio>
												<circle id="background" cx="22.5" cy="22.5" r="22.5" fill="#e2e2e2" />
												<path id="share"
													d="M326.853-3393.173a3.253,3.253,0,0,1,.092-.772l-5.969-3.4a3.245,3.245,0,0,1-2.264.918,3.259,3.259,0,0,1-3.256-3.256,3.259,3.259,0,0,1,3.256-3.256,3.247,3.247,0,0,1,2.264.918l5.969-3.4a3.257,3.257,0,0,1-.092-.771,3.259,3.259,0,0,1,3.256-3.256,3.26,3.26,0,0,1,3.256,3.256,3.259,3.259,0,0,1-3.256,3.256,3.246,3.246,0,0,1-2.393-1.049l-5.89,3.358a3.233,3.233,0,0,1,.141.948,3.247,3.247,0,0,1-.141.948l5.89,3.357a3.247,3.247,0,0,1,2.393-1.05,3.26,3.26,0,0,1,3.256,3.256,3.26,3.26,0,0,1-3.256,3.256A3.259,3.259,0,0,1,326.853-3393.173Z"
													transform="translate(-301.91 3422.186)" fill="#2d2d2d"
													stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"
													opacity="0.3" />
											</svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-light-grey">
			<div class="container-lg">
				<div class="pb-5 pt-5 row">
					<div class="columns text-center twelve">
						<h1>Industry News</h1>
					</div>
				</div>
				<div class="gy-4 justify-content-around pb-5 row">
					<div class="col-11 col-md-4">
						<div class="article d-flex flex-column h-100 overflow-hidden">
							<div class="thumb-wrapper"><a href="https://www.seven-resourcing.com/rec-awards-2022/"><img
										src="https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win.jpg"
										class="img-fluid wp-post-image" alt loading="lazy"
										srcset="https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win.jpg 2048w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win-250x146.jpg 250w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win-700x408.jpg 700w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win-768x448.jpg 768w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-REC-win-1536x896.jpg 1536w"
										sizes="(max-width: 2048px) 100vw, 2048px" /></a>
							</div>
							<div class="bg-white content d-flex flex-column flex-grow-1 p-4">
								<h5 class="article-title mb-3"><a
										href="https://www.seven-resourcing.com/rec-awards-2022/" class="fw-bolder">Seven
										Resourcing win three REC Awards</a></h5>
								<p class="news-text">Awards season is officially over for 2022, and it finished in
									record-breaking style for...</p><a
									class="fw-bolder mt-auto news-link sector-text-colour"
									href="https://www.seven-resourcing.com/rec-awards-2022/">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-11 col-md-4">
						<div class="article d-flex flex-column h-100 overflow-hidden">
							<div class="thumb-wrapper"><a
									href="https://www.seven-resourcing.com/seven-resourcing-win-best-medium-recruitment-business/"><img
										src="https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S.png"
										class="img-fluid wp-post-image" alt loading="lazy"
										srcset="https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S.png 2048w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S-250x146.png 250w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S-700x408.png 700w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S-768x448.png 768w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/GBA-S-1536x896.png 1536w"
										sizes="(max-width: 2048px) 100vw, 2048px" /></a>
							</div>
							<div class="bg-white content d-flex flex-column flex-grow-1 p-4">
								<h5 class="article-title mb-3"><a
										href="https://www.seven-resourcing.com/seven-resourcing-win-best-medium-recruitment-business/"
										class="fw-bolder">Seven Resourcing win Best Medium Recruitment Business</a></h5>
								<p class="news-text">Seven Resourcing is proud to announce it has won ‘Best Medium
									Recruitment Business’ at...</p><a
									class="fw-bolder mt-auto news-link sector-text-colour"
									href="https://www.seven-resourcing.com/seven-resourcing-win-best-medium-recruitment-business/">Read
									More</a>
							</div>
						</div>
					</div>
					<div class="col-11 col-md-4">
						<div class="article d-flex flex-column h-100 overflow-hidden">
							<div class="thumb-wrapper"><a
									href="https://www.seven-resourcing.com/seven-win-twice-at-the-tiara-recruitment-awards-2022/"><img
										src="https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-TIARA-22.jpg"
										class="img-fluid wp-post-image" alt loading="lazy"
										srcset="https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-TIARA-22.jpg 1600w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-TIARA-22-700x408.jpg 700w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-TIARA-22-768x448.jpg 768w, https://www.seven-resourcing.com/wp-content/uploads/2022/11/The-Splash-TIARA-22-1536x896.jpg 1536w"
										sizes="(max-width: 1600px) 100vw, 1600px" /></a>
							</div>
							<div class="bg-white content d-flex flex-column flex-grow-1 p-4">
								<h5 class="article-title mb-3"><a
										href="https://www.seven-resourcing.com/seven-win-twice-at-the-tiara-recruitment-awards-2022/"
										class="fw-bolder">Seven win twice at the TIARA Recruitment Awards 2022</a></h5>
								<p class="news-text">Seven Resourcing scooped two awards at the TIARA Recruitment Awards
									2022, one of the...</p><a class="fw-bolder mt-auto news-link sector-text-colour"
									href="https://www.seven-resourcing.com/seven-win-twice-at-the-tiara-recruitment-awards-2022/">Read
									More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<%-include("./partials/footer")%>