<%-include("./partials/navbar")%>
<section class="page-content pb-0 pt-0">
<section class="d-flex flex-column justify-content-center page-image-header" style="background-image:url('https://www.seven-resourcing.com/wp-content/uploads/2020/07/LS2.png')">
<div class="container container-old" style="z-index: 10;">
<div class="justify-content-center row">
<div class="central-align col-md-6 columns text-center">
<nav aria-label="breadcrumbs" class="rank-math-breadcrumb"><p><a href="https://www.seven-resourcing.com">Home</a><span class="separator"> &raquo; </span><span class="last">Jobseekers</span></p></nav> <h1 class="primary-header text-white">Jobseekers</h1>
</div>
</div>
</div>
</section>
<section class="grey section-why-seven white" style="background-color:;">
<div class="container text-center">
<div class="justify-content-center pt-5 row title-and-text-content-block">
<div class="central-align col-10 col-lg-10 col-xl-7 columns ten">
<h2 class="double-weight-header">Find Your Next Role <span class="sector-text-colour">With Seven Resourcing</span></h2>
</div>
</div>
<div class="central-align justify-content-center pb-5 pt-5 row title-and-text-content-block">
<div class="col-10 col-xl-7 columns main_content_main_copy ten">
<p>If you are searching for a new role, extra shifts or a complete change of scenery, we can help. We work directly with hiring managers in our sectors leading organisations to offer candidates exclusive roles with fantastic pay rates.</p>
<p>Whatever your experience and qualifications, as long as you are relevant to our sectors we will find you a role that is close to home and pays what you deserve.</p>
</div>
</div>
</div>
</section>
<section class="section-why-seven" style="background-color:#f1f1f1;">
<div class="container">
<div class="align-items-center justify-content-center justify-content-lg-between row title-and-text-content-block">
<div class="col-8 col-md-6 ">
<img src="https://www.seven-resourcing.com/wp-content/uploads/2020/07/Seven-Temporary-Solutions-icon-SR-Pay.png" style="width: 100%;" />
</div>
<div class="col-10 col-lg-4 col-md-6 mt-4 mt-lg-0 text-md-start ">
<h2 class="fw-bold mb-4 mt-4 mt-lg-0" style="font-size: 30px;"><span>Exclusive </span>&nbsp;<span class="sector-text-colour">Pay Rates</span></h2>
<p>Seven is not on the rigid frameworks which often reduce earning potential for candidates working for other agencies.</p>
<p>Instead, Seven build valuable relationships directly with the employer to guarantee that our candidates are paid what they deserve. This gives us and you complete control over the security and flexibility of your career.</p>
</div>
</div>
</div>
</section>
<section class="section-why-seven" style="background-color:#ffffff;">
<div class="container">
<div class="align-items-center justify-content-center justify-content-lg-between row title-and-text-content-block">
<div class="col-8 col-md-6 order-md-2">
<img src="https://www.seven-resourcing.com/wp-content/uploads/2020/07/Seven-Temporary-Solutions-icon-SR-comp.png" style="width: 100%;" />
</div>
<div class="col-10 col-lg-4 col-md-6 mt-4 mt-lg-0 text-md-start order-md-1">
<h2 class="fw-bold mb-4 mt-4 mt-lg-0" style="font-size: 30px;"><span>Seamless </span>&nbsp;<span class="sector-text-colour">Compliance</span></h2>
<p>Gone are the days of lost paper documents, postage fees and admin delays.</p>
<p>Seven’s compliance is completely digital in order to safely process and store all of your compliance documents in a matter of seconds.</p>
<p>With Seven, you never have to worry about lost personal data or gaps in employment.</p>
</div>
</div>
</div>
</section>
<section class="section-why-seven" style="background-color:#f1f1f1;">
<div class="container">
<div class="align-items-center justify-content-center justify-content-lg-between row title-and-text-content-block">
<div class="col-8 col-md-6 ">
<img src="https://www.seven-resourcing.com/wp-content/uploads/2020/07/Seven-Temporary-Solutions-icon-SR-phone.png" style="width: 100%;" />
</div>
<div class="col-10 col-lg-4 col-md-6 mt-4 mt-lg-0 text-md-start ">
<h2 class="fw-bold mb-4 mt-4 mt-lg-0" style="font-size: 30px;"><span>Effortless </span>&nbsp;<span class="sector-text-colour">Payroll</span></h2>
<p>Seven’s payroll is completely exclusive to its candidates, ensuring that timesheet submission is effortless and payment is on time, every time.</p>
<p>The platform is accessible on all computer, mobile and tablet devices, allowing you to submit timesheets wherever and whenever is convenient for you.</p>
</div>
</div>
</div>
</section>
<section class="section-multi">
<div class="container-xxl">
<div class="justify-content-center pb-5 pt-5 row row-multi_column_info">
<div class="central-align col-md-9 text-center twelve">
<h2 class="primary-header page-header">Helpful&nbsp;<span class="sector-color" style="color: ">Extras</span></h2>
<p>Here is a handful of additional extras we think you will love...</p>
</div>
</div>
<div class="flex-row gy-5 justify-content-center multi_column_info_columns_row pb-5 pt-5 row">
<div class="align-items-center col-6 col-lg col-md-4 col-why-seven d-flex flex-column pe-4 ps-4 text-center">
<h3 class="multi_column_info_columns_title" style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);background-image:url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);">Work Closer To Home</h3>
<p><p>We work with leading employers across the UK, giving you the chance to cut your commute.</p>
</p>
</div>
<div class="align-items-center col-6 col-lg col-md-4 col-why-seven d-flex flex-column pe-4 ps-4 text-center">
<h3 class="multi_column_info_columns_title" style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);background-image:url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-calendar-social.svg);">Gapless Employment</h3>
<p><p>If you are worried about gaps in your work as a temp &#8211; don&#8217;t be! We will find your next contract as soon as your current post ends.</p>
</p>
</div>
<div class="align-items-center col-6 col-lg col-md-4 col-why-seven d-flex flex-column pe-4 ps-4 text-center">
<h3 class="multi_column_info_columns_title" style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);background-image:url(https://www.seven-resourcing.com/wp-content/uploads/2020/03/social-seven-social-imac.svg);">Easy Apply</h3>
<p><p>No CV? No problem! You can apply for all of our roles without a CV in a matter of seconds.</p>
</p>
</div>
<div class="align-items-center col-6 col-lg col-md-4 col-why-seven d-flex flex-column pe-4 ps-4 text-center">
<h3 class="multi_column_info_columns_title" style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);background-image:url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-two-people-social.svg);">24/7 Support</h3>
<p><p>Recruitment is round the clock, so we are too. Your Consultant will be available for support at all times via WhatsApp.</p>
</p>
</div>
<div class="align-items-center col-6 col-lg col-md-4 col-why-seven d-flex flex-column pe-4 ps-4 text-center">
<h3 class="multi_column_info_columns_title" style="background-image: url(https://www.seven-resourcing.com/wp-content/uploads/2020/07/seven-work-from-home-social.svg);background-image:url(https://www.seven-resourcing.com/wp-content/uploads/2020/03/social-seven-social-wallet.svg);">£250 Referral Bonus</h3>
<p><p>For every candidate you successfully refer to us, we&#8217;ll send you a £250 bonus.</p>
</p>
</div>
</div>
</div>
</section>
</section>
<%-include("./partials/footer")%>